
<h1>Open Atrium <strong>2.3</strong>.1</h1>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<h2>New Features</h2>
<ul>
<li>Improved Files &amp; Folders widget to use Media Browser for uploading</li>
<li>More performance improvements!</li>
</ul>
<h2>Major module/security updates</h2>
<ul>
<li>Panopoly <a href="https://www.drupal.org/node/2425263">1.16</a> &amp; <a href="https://www.drupal.org/node/2429039">1.17 (security)</a></li>
<li><a href="https://www.drupal.org/node/2424103">Views 3.10 (security)</a></li>
<li><a href="https://www.drupal.org/node/2415979">CTools 1.16</a></li>
</ul>
<hr>
<h2>Features to revert</h2>
<p>These features must be reverted (via UI or via "drush fr") to get new functionality.  Ensure that your site
has not customized one of these features before reverting (as per the Updating guide).  Also be sure to clear Drupal cache after reverting features.</p>
<ul>
<li>oa_core</li>
<li>oa_discussion</li>
<li>oa_files</li>
</ul>
<h3>Features normally overridden</h3>
<p>These features are normally marked as overridden by default</p>
<ul>
<li>command_buttons, panopoly_core, panopoly_pages, panopoly_widgets (field_base): modules needs an update to use the newer version of features that removes the foriegn_key export.  Works fine so OK to be overridden</li>
<li>panopoly_users (panelizer_defaults), oa_worktracker (features_overrides): has issues with user Tasks not being show on user dashboard.  OK to be overridden</li>
<li>panopoly_search (search_api_index): replaced with oa_search, so marked as overridden because of additional fields added to index.  OK to be overridden</li>
</ul>
<hr>
<h2>Changes since last release (2.30)</h2>
<p>Previous <a href="https://www.drupal.org/node/2424735">2.30 release notes</a>.</p>
<h4>OA Core</h4>
<ul>
  <li>More media browser css tweaks</li>
  <li>Add overrides to css for media browser, move css to subdir</li>
  <li>Remove unneeded access check</li>
  <li>Fix for admin users not filling og_group_ref when editing existing content</li>
  <li><a href="/node/2428095">#2428095</a>: Removing the last team member throws EntityMetadataWrapperException</li>
  <li>Optimize loop for getting parent/children spaces</li>
  <li>Fix recursive loop in node_access from oa_core_get_groups_by_user()</li>
  <li>Improve performance of oa_core_get_groups_by_user</li>
  <li>Make Paragraphs support Clone</li>
  <li>Do panelizer override via patch instead</li>
  <li>Add new patch</li>
  <li>Updating patch</li>
  <li>Update oa_core.make for panopoly update</li>
  <li><a href="/node/2424785">#2424785</a>: change weight so url overrides session</li>
  <li>Make sure node_type is set</li>
  <li><a href="/node/2424785">#2424785</a>: Set the group context based on URL</li>
</ul>
<h4>OA Discussion</h4>
<ul>
  <li><a href="/node/2427181">#2427181</a>: Make sure topics without published replies show</li>
</ul>
<h4>OA Files</h4>
<ul>
  <li>Change id of iframe</li>
  <li>Adjust oa_files top header markup to comply with bootstrap grid and input-groups</li>
  <li>Hide the json</li>
  <li>Add own css for our media browser processing dialog</li>
  <li>Resize dialogue like media so similar experience</li>
  <li>Don't include js twice</li>
  <li>Add new file match logic</li>
  <li>Add custom page</li>
  <li>Use media browser</li>
</ul>
<h4>OA Notifications</h4>
<ul>
  <li>Performance improvement for notification user list</li>
</ul>
<h4>OA Wizard</h4>
<ul>
  <li>Fix Publish button missing after error</li>
</ul>
