
<h1>Open Atrium <strong>2.3</strong>.2</h1>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<h2>New Features</h2>
<ul>
<li>No new features.</li>
</ul>
<h2>Major module/security updates</h2>
<ul>
<li>Panopoly <a href="https://www.drupal.org/node/2442371">1.18</a></li>
<li>Entity API <a href="https://www.drupal.org/node/2437885">1.6</a> (security)</li>
</ul>
<hr>
<h3>Features normally overridden</h3>
<p>These features are normally marked as overridden by default</p>
<ul>
<li>command_buttons, panopoly_core, panopoly_pages, panopoly_widgets (field_base): modules needs an update to use the newer version of features that removes the foriegn_key export.  Works fine so OK to be overridden</li>
<li>panopoly_users (panelizer_defaults), oa_worktracker (features_overrides): has issues with user Tasks not being show on user dashboard.  OK to be overridden</li>
<li>panopoly_search (search_api_index): replaced with oa_search, so marked as overridden because of additional fields added to index.  OK to be overridden</li>
</ul>
<hr>
<h2>Changes since last release (2.31)</h2>
<p>Previous <a href="https://www.drupal.org/node/2424735">2.30 release notes</a>.</p>
<p>Previous <a href="https://www.drupal.org/node/2433041">2.31 release notes</a>.</p>
<h4>OA Files</h4>
<ul>
  <li><a href="/node/2433259">#2433259</a> by jbrundle, mpotter: Folders Section</li>
</ul>
<h4>OA Toolbar</h4>
<ul>
  <li><a href="/node/2439971">#2439971</a> by mirie: oa-toolbar.js removes mouseenter/mouseleave event listeners from elements using .dropdown when toolbar is not on the page</li>
</ul>
<h4>Panopoly & Search API</h4>
<ul>
  <li><a href="https://www.drupal.org/node/2434487">Applied patches to Panopoly for search_api</a> to make update from 7.30 smoother.</li>
</ul>
