
<h1>Open Atrium <strong>2.3</strong>.3</h1>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<h2>New Features</h2>
<ul>
<li>No new features.</li>
<li>Performance improvements.</li>
</ul>
<h2>Major module/security updates</h2>
<ul>
</ul>
<hr>
<h3>Features normally overridden</h3>
<p>These features are normally marked as overridden by default</p>
<ul>
<li>command_buttons, panopoly_core, panopoly_pages, panopoly_widgets (field_base): modules needs an update to use the newer version of features that removes the foriegn_key export.  Works fine so OK to be overridden</li>
<li>panopoly_users (panelizer_defaults), oa_worktracker (features_overrides): has issues with user Tasks not being show on user dashboard.  OK to be overridden</li>
<li>panopoly_search (search_api_index): replaced with oa_search, so marked as overridden because of additional fields added to index.  OK to be overridden</li>
</ul>
<hr>
<h2>Changes since last release (2.32)</h2>
<p>Previous <a href="https://www.drupal.org/node/2424735">2.30 release notes</a>.</p>
<p>Previous <a href="https://www.drupal.org/node/2433041">2.31 release notes</a>.</p>
<p>Previous <a href="https://www.drupal.org/node/2443025">2.32 release notes</a>.</p>
<h4>OA Files</h4>
<ul>
  <li><a href="/node/2449049">#2449049</a>: Use blank isntead of token for performance (f22a032)</li>
  <li>Add blank href so behat/mink can find it (4791471)</li>
  <li>Add file filter name (f0c5b87)</li>
  <li><a href="/node/2443033">#2443033</a> by <a href="/u/mirie">mirie</a>: OA Files skips workbench moderation when creating new oa_wiki_page nodes (5b7aeca)</li>
  <li>Replace oa_subspaces_get_children_groups with oa_core_get_groups_by_parent (48a8192)</li>
  <li><a href="/node/2451983">#2451983</a>: and comment pane to node page view (e956d08)</li>
</ul>
<h4>OA Subspaces</h4>
<ul>
  <li><a href="/node/2447683">#2447683</a>: New Patch (7c2feb2)</li>
  <li>Patc og_subgroups for performance (9ad5fff)</li>
  <li>Update patch (b590001)</li>
  <li>Deprecate oa_subspaces_get_children_groups and oa_subspaces_get_parent_groups (5cd69bf)</li>
  <li>Allow option for controlling recursion in oa_subspaces_get_children_groups (11cb726)</li>
  <li><a href="/node/2438445">#2438445</a>: remove some entity_loads (c44be9e)</li>
</ul>
<h4>OA Mailhander</h4>
<ul>
  <li>Remove versions string (26e2550)</li>
</ul>
<h4>OA Contextual Tabs</h4>
<ul>
  <li>Remove versions string (58efb75)</li>
</ul>
<h4>OA clone</h4>
<ul>
  <li>Change oa_subspaces_get_children_groups to use oa_core_get_groups_by_parent (4df1079)</li>
  <li>Switch from og_subgroups_get_associated_entities to oa_subspaces_get_children_spaces (718c060)</li>
</ul>
<h4>OA Archive</h4>
<ul>
  <li>Change oa_subspaces_get_children_groups to use oa_core_get_groups_by_parent (212a5b2)</li>
  <li>Switch from og_subgroups_get_associated_entities to oa_subspaces_get_children_spaces (5d64179)</li>
</ul>
<h4>OA Appearance</h4>
<ul>
  <li>Improve cache clear performance (a89b09a)</li>
  <li>Prevent looping over children when clearing banner cache (85e500c)</li>
</ul>
<h4>OA Documents</h4>
<ul>
  <li><a href="/node/2449049">#2449049</a>: Use blank isntead of token for performance (838133e)</li>
  <li><a href="/node/2451983">#2451983</a>: enable comments (84f33d4)</li>
</ul>
<h4>OA Events</h4>
<ul>
  <li><a href="/node/2449049">#2449049</a>: Use blank isntead of token for performance (f3f380c)</li>
</ul>
<h4>Oa Discussion</p>
<ul>
  <li><a href="/node/2449049">#2449049</a>: Use blank isntead of token for performance (e6d0aa5)</li>
  <li><a href="/node/2451983">#2451983</a>: and comment pane to node page view (6dad4e9)</li>
  <li><a href="/node/2451983">#2451983</a>: add comment settings (26f9bf7)</li>
</ul>
<h4>OA Core</h4>
<ul>
  <li><a href="/node/2445069">#2445069</a>: check inheritence of parent, not child (1c8646b)</li>
  <li>Fix tests breaking due to user grants cache (51b170f)</li>
  <li>Add patch to make ctools bit faster (dcc8f88)</li>
  <li>Make _oa_core_get_all_children more performant (c4f62c2)</li>
  <li>Merge remote-tracking branch 'origin/7.x-2.x' into 7.x-2433077 (15a7e9c)</li>
  <li>Rebuild permissions if needed (a9d7e47)</li>
  <li><a href="/node/2437855">#2437855</a> by <a href="/u/mpotter">mpotter</a>: array to string conversion in oa_core_get_cache_id (e669bda)</li>
  <li><a href="/node/2433077">#2433077</a>: Get rid of other calls to og_user_access (6194d41)</li>
  <li><a href="/node/2433077">#2433077</a>: Add subspace checking (cd6cd16)</li>
  <li><a href="/node/2433077">#2433077</a>: add tests for single level (0ad6a28)</li>
  <li><a href="/node/2433077">#2433077</a>: Make handling of getGidsForCreate more performant if og_user_access_alter is not in use (8e72100)</li>
  <li>Update oa_core for security release (c28736e)</li>
  <li>Default oa_core_get_parents_with_titles fetch_all to false to match other functions (31b48a7)</li>
  <li>Refactor oa_core_get_parents so it can fetch all parents when needed (b6828a4)</li>
  <li>Change group field added via og field to use select2 (10bbdbc)</li>
  <li><a href="/node/2451983">#2451983</a>: and comment pane to node page view (c5aa9b2)</li>
  <li><a href="/node/2451983">#2451983</a>: enable comments (a4cbc31)</li>

</ul>
<h4>OA Toolbar</h4>
<ul>
  <li>Fix code comment (5c1ce58)</li>
  <li>Add ID for oa-breadcrumb space parent when no siblings (c900da1)</li>
</ul>
