
<h1>Open Atrium <strong>2.4</strong>.0-rc1</h1>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<h2>IMPORTANT NOTES</h2>
<ul>
<li><strong>CRITICAL IMPORTANCE</strong> : <strong>Make a BACKUP of your database</strong> before applying this update.  This should be done for any update but is especially important because of the Discussion Reply migration</li>
</ul>
<p>This major update converts the old Discussion Replies into Drupal Comments.  Comments are now used throughout Open Atrium to "reply to anything".  Depending upon the number of discussion replies on your site, the Update (drush updb or update.php) could take a while.  Be patient and let it complete to avoid any data loss.</p>
<h2>New Features</h2>
<ul>
<li>Converted Discussion Replies to Drupal comments</li>
<li>Added Comment support to all content types (see Open Atrium -> Config -> Comments)</li>
<li>Added Paragraph support to comments. Improved UX for Paragraphs.</li>
<li>Performance improvements.</li>
</ul>
<h2>Major module/security updates</h2>
<ul>
<li>Drupal 2.36</li>
<li>Panopoly <a href="https://www.drupal.org/node/2459557">1.20</a></li>
</ul>
<hr>
<h3>Features normally overridden</h3>
<p>These features are normally marked as overridden by default</p>
<ul>
<li>command_buttons, panopoly_core, panopoly_pages, panopoly_widgets (field_base): modules needs an update to use the newer version of features that removes the foriegn_key export. Works fine so OK to be overridden</li>
<li>panopoly_users (panelizer_defaults), oa_worktracker (features_overrides): has issues with user Tasks not being show on user dashboard. OK to be overridden</li>
<li>panopoly_search (search_api_index): replaced with oa_search, so marked as overridden because of additional fields added to index. OK to be overridden</li>
</ul>
<hr>
<h2>Changes since last release (2.33)</h2>
<h4>OA core</h4>
<ul>
<li>views so it handles arrays in extra conditions of joins correctly</li>
<li>Only send messages when there are users to message</li>
<li>Add support for select2 delay and set to 1000 ms instead of 100</li>
<li>Match users in autocomplete with Contains instead of Starts with</li>
<li>Search user real name in user select lists</li>
<li>Add matching to group selection handler</li>
<li>Make Teams autocomplete selection case insensitive</li>
<li>This patches ctools to allow adding a pager id to pane settings. It is dependent upon a patch to the core comment module: https://www.drupal.org/node/2472611</li>
<li>Add comments to default node edit form</li>
<li><a href="/node/2468763">#2468763</a>: Turn oa_users_picture into a hook</li>
<li>Fixing doc block</li>
<li>There was a duplicate check going on here.</li>
<li>Fixing a missing user picture in the media attachments view. Adding a helper function that determines the image style for the picture based on the field.</li>
<li>Remove old is_parent</li>
<li>Add Featured layout to Space, Section so they can be embedded as related content</li>
<li><a href="/node/2468569">#2468569</a>: Update field width so doesn't overflow</li>
<li>Allow skipping message creation</li>
<li>Fix build, patch to select2widget incorrectly added to OG</li>
<li>Remove unused variable</li>
<li><a href="/node/2468569">#2468569</a>: update teams user field to use select2 ajax</li>
<li><a href="/node/2468569">#2468569</a>: Convert section visibility to select2, adding inheriented users</li>
<li><a href="/node/2279875">#2279875</a>: get rid of some undefined errors</li>
<li><a href="/node/2279875">#2279875</a>: update oa_button add section for changes</li>
<li><a href="/node/2466271">#2466271</a>: Allow oa_core_get_group_from_node to take in node object and clean up areas that call it</li>
<li><a href="/node/2407637">#2407637</a>: make sure get groups of configred type for groups page</li>
<li>OpenAtrium => Open Atrium</li>
<li><a href="/node/2464845">#2464845</a>: allow oa_core_get_titles to get all</li>
<li>Adding a patch to the paragraphs module that provides a couple of field settings. One lets you set new paragraph instructions and the other lets you hide them all together.</li>
<li><a href="/node/2424785">#2424785</a>: actually include the file to include the hook</li>
<li><a href="/node/2463873">#2463873</a>: change team autocomplete</li>
<li><a href="/node/2463279">#2463279</a>: default to current group for admins posting in groups they are not part of</li>
<li><a href="/node/2459605">#2459605</a>: switch git comment views</li>
<li>Replace oa_plupload with oa_media</li>
<li>Make the og_group_ref field work when added to new views (hopefully)</li>
</ul>
<h4>OA Discussions</h4>
<ul>
<li>Move migration reply</li>
<li>Fix test for notifixation changes</li>
<li>Fix title in Featured panelizer view mode. Fix indexes of panes</li>
<li><a href="/node/2461071">#2461071</a>: enable comments on discussions</li>
<li>Add message</li>
<li>Actually do different comments per run</li>
<li><a href="/node/2461071">#2461071</a>: various improvments to batching</li>
<li>Clearify comments for discussion convert</li>
<li>Overriding the 'Add Comment' title in oa_discussion. We want this to say 'New Reply' as the old reply form did.</li>
<li>Standardize name of Section to that</li>
<li>Update tests</li>
<li>More references to oa_parent</li>
<li><a href="/node/2461071">#2461071</a>: further strip away reply functionality</li>
<li><a href="/node/2461071">#2461071</a>: strip away oa_discussion</li>
<li><a href="/node/2461071">#2461071</a>: Convert discussion replies to comments</li>
</ul>
<h4>OA Comment</h4>
<ul>
<li>NEW</li>
</ul>
<h4>OA Radix</h4>
<ul>
<li>Add css and js for tweaking the wysiwyg select</li>
<li>Make title field 100%</li>
</ul>
<h4>OA Related</h4>
<ul>
<li>Reapply fix for attach button</li>
<li>Fix error when no attachments given in media paragraph</li>
<li>Move wysiwyg css to oa_radix</li>
<li>Add css for moving wysiwyg for editors to top of field</li>
<li>No need to hide the 'Attach' button now.</li>
<li>This was causing the 'Attach' button on media upload to show up when it shouldn't</li>
<li>Set paragraph style to buttons</li>
<li>Refactor oa_comment_icon hook to oa_related_icon hook</li>
<li>Prevent oa_related messages during installer</li>
<li>Make sure field exists before updating it</li>
<li>This fixes the 'Show Title' spacing.</li>
<li>Reworking the templates for paragraph forms.</li>
<li>More styling changes.</li>
<li>Styling for the paragraph forms added to comments.</li>
<li>Reduce padding and width of draggable widget in paragraphs</li>
<li>Update oa_related entityreference bundles when featured viewmode enabled</li>
<li>Making the paragraph buttons look more like an extension of the comment form.</li>
<li>Not displaying the action links ('Remove') buttons if they are not set from the preprocess function.</li>
<li>Only add the Remove buttons for paragraph items when editing them in a modal.</li>
<li>Styling changes for paragraph buttons in modal.</li>
<li>Add space and section to allowed related content</li>
<li>We are only concentrating on the comment form for now. Removing this for body fields on node add.</li>
<li>Changing the class for paragraph buttons and making sure the class only applies to buttons.</li>
<li>Remove query against oa_parent</li>
<li>This should have been moved from comments.</li>
<li>Moving an alter from oa_comment that should belong here.</li>
<li>Adding templates for each paragraph form so we can customize the layout.</li>
<li>Adding a file that contains preprocess functions for the current paragraph types that we are displaying forms for.</li>
<li>Adding icons that are referenced via css on the Related Content paragraph form.</li>
<li>Adding theme implementations for all paragraph bundle types so we can theme each form. Adding custom icons for the paragraph buttons.</li>
<li>Adding styles for paragraph forms.</li>
<li>Code styling changes</li>
<li><a href="/node/2464483">#2464483</a> by <a href="/u/tekante">tekante</a>: Add patch to references_dialog module</li>
</ul>
<h4>OA Sitemap</h4>
<ul>
<li>Make sure section visbility fields are set before checking lenght</li>
<li><a href="/node/2426875">#2426875</a>: make sure empty fields get sit</li>
</ul>
<h4>OA Toolbar</h4>
<ul>
<li><a href="/node/2466271">#2466271</a>: Allow oa_core_get_group_from_node to take in node object and clean up areas that call it</li>
</ul>
<h4>OA HTMLmail</h4>
<ul>
<li><a href="/node/2466271">#2466271</a>: Allow oa_core_get_group_from_node to take in node object and clean up areas that call it</li>
</ul>
<h4>OA Favorites</h4>
<ul>
<li>OpenAtrium => Open Atrium</li>
</ul>
<h4>OA Domains</h4>
<ul>
<li>Run feature update to get rid of diffs</li>
</ul>
<h4>OA Notifications</h4>
<ul>
<li>Remove dsm</li>
<li><a href="/node/2468623">#2468623</a>: Use select2 for notifications</li>
</ul>
<h4>OA Media</h4>
<ul>
<li>Move oa_plupload's depedencies into oa_media</li>
</ul>
<h4>OA Files</h4>
<ul>
<li>Fix gear icon overlaying Add File button</li>
<li><a href="/node/2464627">#2464627</a>: Prevent node_loads when can</li>
</ul>
<h4>OA Events Import</h4>
<ul>
<li>Standardize name of Section to that</li>
</ul>
<h4>OA Mailhandler</h4>
<ul>
<li><a href="/node/2463175">#2463175</a>: remove discussion replies intergration</li>
</ul>
<h4>OA Events</h4>
<ul>
<li>Stop events from fataling behat</li>
<li>Standardize name of Section to that</li>
<li><a href="/node/2459817">#2459817</a>: update date ical</li>
</ul>
<h4>OA Documents</h4>
<ul>
<li>Standardize name of Section to that</li>
</ul>
<h4>OA Contextual tabs</h4>
<ul>
<li><a href="/node/2469173">#2469173</a>: check that oa_archive exists before defining menu item that uses it</li>
<li>Add rule so view draft appears at /moderation</li>
</ul>
<h4>OA Angular</h4>
<ul>
<li>None, just created release version.</li>
</ul>
<h4>OA Tour Defaults</h4>
<ul>
<li>None, just created release version.</li>
</ul>
<h4>OA Tour</h4>
<ul>
<li>None, just created release version.</li>
</ul>
<h4>OA Styles</h4>
<ul>
<li>None, just created release version.</li>
</ul>
<h4>OA Sandbox</h4>
<ul>
<li>None, just created release version.</li>
</ul>
<h4>OA Messages Digest</h4>
<ul>
<li>None, just created release version.</li>
</ul>
<h4>OA Markdown</h4>
<ul>
<li>None, just created release version.</li>
</ul>
<h4>OA Admin</h4>
<ul>
<li>None, just created release version.</li>
</ul>
<h4>OA Archive</h4>
<ul>
<li>None, just created release version.</li>
</ul>
<h4>OA Analytics</h4>
<ul>
<li>None, just created release version.</li>
</ul>
