
<h1>Open Atrium <strong>2.4</strong>.1</h1>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<h2>IMPORTANT NOTES</h2>
<ul>
<li><strong>CRITICAL IMPORTANCE</strong> : <strong>Make a BACKUP of your database</strong> before applying this update.  This should be done for any update but is especially important because of the Discussion Reply migration</li>
</ul>
<p>This major update converts the old Discussion Replies into Drupal Comments.  Comments are now used throughout Open Atrium to "reply to anything".  Depending upon the number of discussion replies on your site, the Update (drush updb or update.php) could take a while.  Be patient and let it complete to avoid any data loss.</p>
<h2>New Features</h2>
<ul>
<li>Converted Discussion Replies to Drupal comments</li>
<li>Added Comment support to all content types (see Open Atrium -> Config -> Comments)</li>
<li>Added Paragraph support to comments. Improved UX for Paragraphs.</li>
<li>Performance improvements.</li>
</ul>
<h2>Major module/security updates</h2>
<ul>
<li>Drupal 2.36</li>
<li>Panopoly <a href="https://www.drupal.org/node/2459557">1.20</a></li>
<li>Panopoly <a href="https://www.drupal.org/node/2480509">1.21</a></li>
<li>Views <a href="https://www.drupal.org/node/2480327">3.11</a> (security)</li>
</ul>
<hr>
<h3>Features normally overridden</h3>
<p>These features are normally marked as overridden by default</p>
<ul>
<li>command_buttons, panopoly_core, panopoly_pages, panopoly_widgets (field_base): modules needs an update to use the newer version of features that removes the foriegn_key export. Works fine so OK to be overridden</li>
<li>panopoly_users (panelizer_defaults), oa_worktracker (features_overrides): has issues with user Tasks not being show on user dashboard. OK to be overridden</li>
<li>panopoly_search (search_api_index): replaced with oa_search, so marked as overridden because of additional fields added to index. OK to be overridden</li>
</ul>
<hr>
<h2>Changes since last release (2.40)</h2>
<p>Fixed two potential upgrade errors when updating older installs</p>
<h2>Changes since last release (2.33)</h2>

<h4>OA Core 2.52</h4>
<ul>
  <li><a href="/node/2414767">#2414767</a>: Try 2 for removing oa_core undefined error</li>
  <li>Update colorizer</li>
  <li>Fix non-object error in subspace selector</li>
  <li>Fix Loading failed error in group/parent entityreference lookup</li>
  <li>Update paragraphs to beta6</li>
  <li><a href="/node/2481471">#2481471</a>: defualt => default</li>
  <li>New patch. The other from 7.x-1.x wouldn't apply. Targeting 7.x-1.0-beta5</li>
  <li>Adding a patch that allows paragraphs to work properly in a ctools modal. The #id for the element being targeted by ajax callbacks was wrong if used in a modal.</li>
  <li>Use variable for diff cutoff limit</li>
  <li>Fix space owner user badge padding in members widget</li>
  <li><a href="/node/2481471">#2481471</a>: Fix for Section type auto selection lost when using AJAX on form</li>
  <li><a href="/node/2481221">#2481221</a>: node/%/content not found on non-space/section</li>
  <li>Improved comments for OG role updates</li>
  <li>Fix update 7227 so it doesnt remove roles because of orphaned OG role table data</li>
  <li>Fix recent activity smoke test, use pattern instead of raw</li>
  <li>Fix recent activity smoke test</li>
  <li>Let panpoly make handle jquery_update/features_override</li>
  <li>Disable comments by default for teams, sections, spaces, groups</li>
  <li>Removing css file. We don't need this anymore, icons are handled via section types.</li>
  <li>Make icons images for section taxonomy public</li>
  <li>Remove outdated code and clean up existing</li>
  <li>Remove outdated code</li>
  <li>Fix smoke test</li>
  <li>Remove extra indenting in panels page export</li>
  <li>Set topics pane config</li>
  <li>Remove default comment settings from feature</li>
  <li>Fixing a spelling typo.</li>
  <li>Add CSS for Team View widget</li>
  <li>Merging changes:</li>
  <li>Add new Team Members view</li>
  <li><a href="/node/2477345">#2477345</a>: Remove patches from oa_core that override panopoly</li>
  <li>Update section icons for space menu</li>
  <li><a href="/node/2475965">#2475965</a> by <a href="/u/pescetti">pescetti</a>: The "Please select the type of Space" view generates invalid URLs (TIDs with comma)</li>
  <li>Adding icons to space menu items</li>
  <li>Allow templates to reference other sections by name</li>
  <li>Change 'Subscribed' to 'Memberships'</li>
<li>views so it handles arrays in extra conditions of joins correctly</li>
<li>Only send messages when there are users to message</li>
<li>Add support for select2 delay and set to 1000 ms instead of 100</li>
<li>Match users in autocomplete with Contains instead of Starts with</li>
<li>Search user real name in user select lists</li>
<li>Add matching to group selection handler</li>
<li>Make Teams autocomplete selection case insensitive</li>
<li>This patches ctools to allow adding a pager id to pane settings. It is dependent upon a patch to the core comment module: https://www.drupal.org/node/2472611</li>
<li>Add comments to default node edit form</li>
<li><a href="/node/2468763">#2468763</a>: Turn oa_users_picture into a hook</li>
<li>Fixing doc block</li>
<li>There was a duplicate check going on here.</li>
<li>Fixing a missing user picture in the media attachments view. Adding a helper function that determines the image style for the picture based on the field.</li>
<li>Remove old is_parent</li>
<li>Add Featured layout to Space, Section so they can be embedded as related content</li>
<li><a href="/node/2468569">#2468569</a>: Update field width so doesn't overflow</li>
<li>Allow skipping message creation</li>
<li>Fix build, patch to select2widget incorrectly added to OG</li>
<li>Remove unused variable</li>
<li><a href="/node/2468569">#2468569</a>: update teams user field to use select2 ajax</li>
<li><a href="/node/2468569">#2468569</a>: Convert section visibility to select2, adding inheriented users</li>
<li><a href="/node/2279875">#2279875</a>: get rid of some undefined errors</li>
<li><a href="/node/2279875">#2279875</a>: update oa_button add section for changes</li>
<li><a href="/node/2466271">#2466271</a>: Allow oa_core_get_group_from_node to take in node object and clean up areas that call it</li>
<li><a href="/node/2407637">#2407637</a>: make sure get groups of configred type for groups page</li>
<li>OpenAtrium => Open Atrium</li>
<li><a href="/node/2464845">#2464845</a>: allow oa_core_get_titles to get all</li>
<li>Adding a patch to the paragraphs module that provides a couple of field settings. One lets you set new paragraph instructions and the other lets you hide them all together.</li>
<li><a href="/node/2424785">#2424785</a>: actually include the file to include the hook</li>
<li><a href="/node/2463873">#2463873</a>: change team autocomplete</li>
<li><a href="/node/2463279">#2463279</a>: default to current group for admins posting in groups they are not part of</li>
<li><a href="/node/2459605">#2459605</a>: switch git comment views</li>
<li>Replace oa_plupload with oa_media</li>
<li>Make the og_group_ref field work when added to new views (hopefully)</li>
</ul>

<h4>OA Discussion 2.32</h4>
<ul>
  <li>clear plugins cache to avoid fatal errors for removed plugins</li>
  <li>Remove references to removed og permissions</li>
  <li>Add update hook to convert previous discussion widgets into comment widgets</li>
  <li>Set topics pane config</li>
<li>Move migration reply</li>
<li>Fix test for notifixation changes</li>
<li>Fix title in Featured panelizer view mode. Fix indexes of panes</li>
<li><a href="/node/2461071">#2461071</a>: enable comments on discussions</li>
<li>Add message</li>
<li>Actually do different comments per run</li>
<li><a href="/node/2461071">#2461071</a>: various improvments to batching</li>
<li>Clearify comments for discussion convert</li>
<li>Overriding the 'Add Comment' title in oa_discussion. We want this to say 'New Reply' as the old reply form did.</li>
<li>Standardize name of Section to that</li>
<li>Update tests</li>
<li>More references to oa_parent</li>
<li><a href="/node/2461071">#2461071</a>: further strip away reply functionality</li>
<li><a href="/node/2461071">#2461071</a>: strip away oa_discussion</li>
<li><a href="/node/2461071">#2461071</a>: Convert discussion replies to comments</li>
</ul>

<h4>OA Events 2.31</h4>
<ul>
<li>Stop events from fataling behat</li>
<li>Standardize name of Section to that</li>
<li><a href="/node/2459817">#2459817</a>: update date ical</li>
  <li>Remove default comment settings from feature</li>
</ul>
<h4>OA Documents 2.31</h4>
<ul>
<li>Standardize name of Section to that</li>
  <li>Remove default comment settings from feature</li>
</ul>

<h4>OA Worktracker 2.0</h4>
<ul>
  <li><a href="/node/2449055">#2449055</a> by hefox: Switch panelizer varients to use '' instead of %node:title</li>
  <li>Revert "Issue <a href="/node/2449055">#2449055</a> by hefox: Switch panelizer varients to use '' instead of %node:title"</li>
  <li><a href="/node/2451993">#2451993</a> by hefox: Add comments support</li>
  <li>Remove foreign key from features field export</li>
</ul>

<h4>OA Admin 2.0</h4>
<ul>
<li>None, just created release version.</li>
</ul>

<h4>OA Analytics 2.0</h4>
<ul>
<li>None, just created release version.</li>
</ul>

<h4>OA Appearance 2.3</h4>
<ul>
  <li><a href="/node/2481597">#2481597</a>: Use database storage</li>
  <li><a href="/node/2480993">#2480993</a>: Colour scheme isn't changed on submit when first overriding it for a group</li>
  <li>Update image style for latest Features</li>
</ul>
<h4>OA Archive 2.0</h4>
<ul>
<li>None, just created release version.</li>
</ul>

<h4>OA Clone 2.3</h4>
<ul>
  <li>Fix problem clearing the parent field when cloning a blueprint</li>
  <li>Revert "Fix problem clearing the parent field when cloning a blueprint"</li>
  <li><a href="/node/2475403">#2475403</a>: Clone og menu on clone of space</li>
</ul>

<h4>OA Comment 2.0</h4>
<ul>
<li>NEW!</li>
  <li>Fix error in oa_comment when oa_related is not enabled</li>
  <li>This doesn't completely fix the Expand/Collapse issue when dealing with embedded comments but it's a good start. This is much better than it being completely broken. This works with the exception of 'replies' to comments.</li>
</ul>

<h4>OA Contextual tabs 2.26</h4>
<ul>
<li><a href="/node/2469173">#2469173</a>: check that oa_archive exists before defining menu item that uses it</li>
<li>Add rule so view draft appears at /moderation</li>
</ul>

<h4>OA Domains 2.0</h4>
<ul>
<li>Run feature update to get rid of diffs</li>
</ul>

<h4>OA Events Import 2.26</h4>
<ul>
  <li>Standardize name of Section to that</li>
  <li>Turn off comments by default for ical importer</li>
  <li>Remove default comment settings from feature</li>
</ul>

<h4>OA Favorites 2.1</h4>
<ul>
  <li>OpenAtrium => Open Atrium</li>
  <li>Add nowrap to favorites title</li>
</ul>

<h4>OA Files 2.7</h4>
<ul>
 <li><a href="/node/2484677">#2484677</a>: File upload and space_menu</li>
 <li><a href="/node/2477253">#2477253</a> by <a href="/u/joevagyok">joevagyok</a>, <a href="/u/hfox">hfox</a>: Fix for 'If I enable to show description in the panelizer page setting, strict warning produced'</li>
<li>Fix gear icon overlaying Add File button</li>
<li><a href="/node/2464627">#2464627</a>: Prevent node_loads when can</li>
</ul>

<h4>OA HTMLmail 2.0</h4>
<ul>
<li><a href="/node/2466271">#2466271</a>: Allow oa_core_get_group_from_node to take in node object and clean up areas that call it</li>
</ul>

<h4>OA Mailhandler 2.19</h4>
<ul>
<li><a href="/node/2463175">#2463175</a>: remove discussion replies intergration</li>
  <li><a href="/node/2479497">#2479497</a>: Add patch for strict warning</li>
</ul>

<h4>OA Markdown 2.0</h4>
<ul>
<li>None, just created release version.</li>
</ul>

<h4>OA Media 2.27</h4>
<ul>
<li>Move oa_plupload's depedencies into oa_media</li>
  <li>New plupload zip</li>
  <li>Update plupload zip</li>
  <li><a href="/node/2479583">#2479583</a>: try 2</li>
  <li><a href="/node/2479583">#2479583</a>: Remove examples folder from plupload</li>
</ul>

<h4>OA Messages Digest 2.0</h4>
<ul>
<li>None, just created release version.</li>
</ul>

<h4>OA Notifications 2.25</h4>
<ul>
  <li><a href="/node/2480215">#2480215</a>: Set default notifications for modalframes/context correctly</li>
  <li>Make the oa_notifications_get_default_notifications bit more robust if called sans args</li>
  <li>Specificy state 'event' for select2 items so ajax works</li>
  <li><a href="/node/2468623">#2468623</a>: Use select2 for notifications</li>
</ul>

<h4>OA Related Content 2.1</h4>
<ul>
  <li>Forcing styles on the new trash can icon so it displays properly on whether using with comments, nodes, or modals.</li>
  <li>Add simple listing layout to related content</li>
  <li>Fix error when cache_key not set</li>
  <li>Have to add css for modal-content as well</li>
  <li>Adding a class to target for each paragraph form remove link</li>
  <li>Add css to place action links (remove buttons) on paragraph forms</li>
  <li>Add the ability to remove a paragraph back and change the button to an icon.</li>
  <li>Updating docblock</li>
  <li>Add options for selecting which paragraph bundles are used in related content</li>
  <li>Make sure paragraph tpl files exists before using</li>
<li>Reapply fix for attach button</li>
<li>Fix error when no attachments given in media paragraph</li>
<li>Move wysiwyg css to oa_radix</li>
<li>Add css for moving wysiwyg for editors to top of field</li>
<li>No need to hide the 'Attach' button now.</li>
<li>This was causing the 'Attach' button on media upload to show up when it shouldn't</li>
<li>Set paragraph style to buttons</li>
<li>Refactor oa_comment_icon hook to oa_related_icon hook</li>
<li>Prevent oa_related messages during installer</li>
<li>Make sure field exists before updating it</li>
<li>This fixes the 'Show Title' spacing.</li>
<li>Reworking the templates for paragraph forms.</li>
<li>More styling changes.</li>
<li>Styling for the paragraph forms added to comments.</li>
<li>Reduce padding and width of draggable widget in paragraphs</li>
<li>Update oa_related entityreference bundles when featured viewmode enabled</li>
<li>Making the paragraph buttons look more like an extension of the comment form.</li>
<li>Not displaying the action links ('Remove') buttons if they are not set from the preprocess function.</li>
<li>Only add the Remove buttons for paragraph items when editing them in a modal.</li>
<li>Styling changes for paragraph buttons in modal.</li>
<li>Add space and section to allowed related content</li>
<li>We are only concentrating on the comment form for now. Removing this for body fields on node add.</li>
<li>Changing the class for paragraph buttons and making sure the class only applies to buttons.</li>
<li>Remove query against oa_parent</li>
<li>This should have been moved from comments.</li>
<li>Moving an alter from oa_comment that should belong here.</li>
<li>Adding templates for each paragraph form so we can customize the layout.</li>
<li>Adding a file that contains preprocess functions for the current paragraph types that we are displaying forms for.</li>
<li>Adding icons that are referenced via css on the Related Content paragraph form.</li>
<li>Adding theme implementations for all paragraph bundle types so we can theme each form. Adding custom icons for the paragraph buttons.</li>
<li>Adding styles for paragraph forms.</li>
<li>Code styling changes</li>
<li><a href="/node/2464483">#2464483</a> by <a href="/u/tekante">tekante</a>: Add patch to references_dialog module</li>
</ul>

<h4>OA Sandbox 2.0</h4>
<ul>
<li>None, just created release version.</li>
</ul>

<h4>OA Sitemap 2.5</h4>
<ul>
<li>Make sure section visbility fields are set before checking lenght</li>
<li><a href="/node/2426875">#2426875</a>: make sure empty fields get sit</li>
</ul>

<h4>OA Styles 2.0</h4>
<ul>
<li>None, just created release version.</li>
</ul>

<h4>OA Toolbar 2.1</h4>
<ul>
<li><a href="/node/2466271">#2466271</a>: Allow oa_core_get_group_from_node to take in node object and clean up areas that call it</li>
  <li>Fix space menu tab css for a custom section icon image</li>
  <li>Adjust space menu css for tabs</li>
  <li>Need to check for a parent_section to prevent warnings.</li>
  <li>Get rid of warning if on a team page.</li>
  <li>Adding icons to menu items. We get the icons from the Section Type taxonomies.</li>
  <li>Adding a little spacing between the icon and the menu title</li>
  <li>Tweak space icon css</li>
  <li>Change Subscribed to Membership and adjust space menu icon</li>
</ul>

<h4>OA Tour 2.1</h4>
<ul>
  <li><a href="/node/2480561">#2480561</a>: Convert existing tours spaces field to new tour field</li>
  <li><a href="/node/2480561">#2480561</a>: Start the covertsion to bootstrap_tour 2.x</li>
</ul>

<h4>OA Tour Defaults 2.1</h4>
<ul>
  <li>Adjust css for site tour step</li>
  <li><a href="/node/2480561">#2480561</a>: update to 2.x</li>
</ul>

<h4>OA Radix 3.12</h4>
<ul>
<li>Add css and js for tweaking the wysiwyg select</li>
<li>Make title field 100%</li>
  <li>Fix bootstrap 34px height for form-control form-wrappers</li>
  <li>Adjust space menu css for tabs</li>
  <li>Fix bullets overlapping with floating elements</li>
  <li>Move img css that was in panopoly_image into theme</li>
  <li>Don't redownload radix_layouts</li>
  <li>Remove console.log</li>
  <li>Tweak navbar css</li>
  <li>Compile css from last navbar changes</li>
  <li>Adding some spacing for icons in the space menu.</li>
  <li>Fix panel pane template</li>
  <li>Updating the space menu with tabs and adding colorizer fields for the tab color and text color.</li>
</ul>
