
<h1>Open Atrium <strong>2.4</strong>.2</h1>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<h2>IMPORTANT NOTES (if upgrading from older than 2.40)</h2>
<ul>
<li><strong>CRITICAL IMPORTANCE</strong> : <strong>Make a BACKUP of your database</strong> before applying this update.  This should be done for any update but is especially important if updating a site earlier than v2.40 because of the Discussion Reply migration</li>
</ul>
<p>This major update converts the old Discussion Replies into Drupal Comments.  Comments are now used throughout Open Atrium to "reply to anything".  Depending upon the number of discussion replies on your site, the Update (drush updb or update.php) could take a while.  Be patient and let it complete to avoid any data loss.</p>
<h2>New Features</h2>
<ul>
<li>Changes "News Section" to "Document Section"</li>
<li>Files & Folder widget now works for content types other than just Documents</li>
<li>Improved Document Section for more wiki-like usability via adding documents directly to the File/Folder widget</li>
<li>In the Space Variables config, can specify different toolbar and footer minipanels.</li>
<li>Updated mail system from HTMLMail to MIMEMail to allow calendar invite attachments.</li>
<li>New Ajax-based Sitemap works with large number of spaces.</li>
<li>Fixed major issue causing Tour steps to add to database on every cache clear.  New version has update-hook to remove all the duplicates from the tour steps db table.</li>
<li>Panelizer update supports revisions of page layout and multiple user layouts.</li>
</ul>
<h2>Major module/security updates</h2>
<ul>
<li>Drupal Core 2.38 - Critical - Multiple Vulnerabilities - <a href="https://www.drupal.org/SA-CORE-2015-002">SA-CORE-2015-002</a></li>
<li>Panopoly <a href="https://www.drupal.org/node/2507957">1.23</a></li>
<li>Panopoly <a href="https://www.drupal.org/node/2500395">1.22</a></li>
<li>jQuery Update 2.6 - Less Critical - Open Redirect - <a href="https://www.drupal.org/node/2507729">SA-CONTRIB-2015-123</a></li>
<li>Panelizer 7.0-3.x latest dev</li>
</ul>
<hr>
<h3>Features normally overridden</h3>
<p>This version of Atrium is clean.  On a fresh install, no features should be marked as overridden.</p>
<hr>
<h2>Changes since last release (2.41)</h2>

<h4>OA Core 2.55</h4>
<ul>
  <li><a href="/node/2499315">#2499315</a>: Space permissions not working, when Administer group is enabled (fix space type field options)</li>
  <li><a href="/node/2499315">#2499315</a>: Space permissions not working, when Administer group is enabled</li>
  <li>Fix broken regression of subspace content from fixing visible other spaces</li>
  <li>Fix nodes visible in multiple other spaces from causing dups</li>
  <li>Update News Section to Document section</li>
  <li>Hide the label for all og_vocab fields</li>
  <li>Support just the section field without a group field attached to it</li>
  <li><a href="/node/2504747">#2504747</a>: Make sure comments can always be disabled/hidden</li>
  <li>Set default space variables</li>
  <li>Fix is_owner check in og_vocab</li>
  <li>Update patches for og_vocab and select2widget</li>
  <li>Fix error in unsetting invalid values in section field</li>
  <li>Add support to oa_section_ref field for multiple values</li>
  <li>Update patches to og_vocab</li>
  <li>Update select2widget patches</li>
  <li>Use full syntax instead of short tags</li>
  <li><a href="/node/2488920">#2488920</a>: Use templates and css</li>
  <li>Fix fetcha_all typo</li>
  <li>Add time and option to hide picture to Submitted widget</li>
  <li>Add oa_users Submitted widget</li>
  <li>Add ability to change header and footer mini panels per space</li>
  <li>Call oa_core_taxonomy_vocabulary to get a vocab to handle og_vocab</li>
  <li><a href="/node/2488920">#2488920</a>: don't include css in mimemail so google doesn't mark as spam</li>
  <li>Support floating point position for added page manager panes</li>
  <li>Fix warning about empty value in oa_core</li>
  <li>Add hooks for adding panes to user dashboard</li>
  <li>Change oa_layouts panelizer overrides to use new oa_core API for adding panes</li>
  <li>Change oa_panopoly_users panelizer overrides to use new oa_core API for adding panes</li>
  <li>Add hook API to oa_core for adding panes to panelizer and page manager</li>
  <li><a href="/node/2488920">#2488920</a>: allow email attachments for messages</li>
  <li>Rerun update to check access</li>
  <li>Remove dsm</li>
  <li>Only do special move object when not cloning</li>
  <li>Use the same logic for OA_PARENT_SPACE as for OA_SPACE_FIELD</li>
  <li>remove select2 width</li>
  <li><a href="/node/2489556">#2489556</a>: Provide ui for setting to move or delete content</li>
  <li>Fix fail build logic</li>
  <li>Refactor views og_group_ref filters to use common code</li>
  <li>When 'My Spaces' checked in exposed space filter, an array is passed and causes error</li>
</ul>

<h4>OA Discussion 2.34</h4>
<ul>
  <li>This fixes an issue where the update hook was failing if titles had unicode characters.</li>
  <li>Add submitted info to Features view mode</li>
  <li>Add oa_users submitted widget to discussion pages</li>
</ul>

<h4>OA Events 2.33</h4>
<ul>
  <li>Don't send headers when executing view for ical feed</li>
  <li><a href="/node/2488920">#2488920</a>: add attendee, organizer, request method</li>
  <li><a href="/node/2488920">#2488920</a>: use text/calendar</li>
  <li><a href="/node/2488920">#2488920</a>: Add ical file</li>
  <li><a href="/node/2488920">#2488920</a>: Add Ical feed</li>
</ul>

<h4>OA Documents 2.32</h4>
<ul>
  <li>Change News Section to Document Section</li>
  <li>Fix in_array error when no vocabs:</li>
  <li>Update wiki page layout to allow space override of files widget</li>
  <li>Add variable for space document taxonomy override</li>
  <li>Basic css for taxonomy terms on wiki</li>
  <li><a href="/node/2500409">#2500409</a> by denisbabs: Files "has new content" shows has *new* even if user viewed the file allready</li>
</ul>

<h4>OA Worktracker 2.1</h4>
<ul>
  <li>Fix css for Due date field to make it look like normal field</li>
  <li>Remove 2.22 version req in dependencies</li>
  <li>Remove dsms</li>
  <li>Set comment body field if just status is changed</li>
  <li>Add comments</li>
  <li>Add worktracker config form to main atrium config page</li>
  <li>Remove OA style from task widget</li>
  <li>Fix User Task view not displaying because of flagged content exposed filter</li>
  <li>Convert panelizer features overrides into new oa_core add_panes hook</li>
</ul>

<h4>OA Admin 2.1</h4>
<ul>
  <li>Remove override for section label</li>
</ul>

<h4>OA Appearance 2.4</h4>
<ul>
  <li><a href="/node/2505049">#2505049</a>: Add title to banner</li>
</ul>

<h4>OA Clone 2.4</h4>
<ul>
  <li><a href="/node/2504171">#2504171</a>: check shared variable before sharing</li>
  <li><a href="/node/2504171">#2504171</a>: Clone vocabulary</li>
  <li>Reset other_groups_ids on clone</li>
</ul>

<h4>OA Comment 2.3</h4>
<ul>
  <li>Fix Expand All button in Task comment list</li>
  <li>Tweak worktracker diff css in comments</li>
  <li>Don't count a new comment also as an updated comment</li>
  <li>Fix user images for comments</li>
  <li>Fix user topics and replies views</li>
  <li>Fix JS error when hash is a route</li>
</ul>

<h4>OA Contextual tabs 2.26</h4>
<ul>
  <li><a href="/node/2506193">#2506193</a> by rivimey: php error undefined $items from hook_menu</li>
</ul>

<h4>OA Domains 2.1</h4>
<ul>
  <li><a href="/node/2162997">#2162997</a> by marqpdx, kengilb, gaele: Make subspaces inherit domain settings</li>
</ul>

<h4>OA Files 2.10</h4>
<ul>
  <li>Fix topid in oa_files</li>
  <li>Remove topid calculation causing regression for folders containing one item</li>
  <li>Save expand/collapse all in session cookie</li>
  <li><a href="/node/2497311">#2497311</a>: Change access callback to node access so only shows to those with access</li>
  <li>Add option to only show folders</li>
  <li>Support other content types from files/folder taxonomy widget</li>
  <li>Add option to link folders</li>
  <li>Fix error when vocab not set</li>
  <li>Hide non-document nodes, hide top node if there is only one</li>
  <li>Prompt for section of initial file added via widget</li>
  <li>Fix js error</li>
  <li>Fix broken file filter</li>
  <li>Hide empty terms from anonymous users</li>
  <li>Add option for rearranging files/folders</li>
  <li>Highlight current file</li>
  <li>Expand current node in file/folder tree</li>
  <li>Tweak gear icon position in sidebar</li>
  <li>Handle the space-specific document taxonomy</li>
  <li>Allow multiple section values in files/folders widget</li>
  <li>Handle entityreference labels vs arrays</li>
  <li>Fill in best section when adding documents via files/folders</li>
  <li>More tweaking of gear icon in file/folder widget</li>
  <li>CSS tweaks to filter and top buttons in files/folders widget</li>
  <li>Add 'Add Document' option to files/folder widget</li>
  <li><a href="/node/2445781">#2445781</a>: Add body check for is folder</li>
</ul>

<h4>OA Media 2.28</h4>
<ul>
  <li>Update file display for vimeo colorbox</li>
</ul>

<h4>OA Related Content 2.2</h4>
<ul>
  <li>Update function with  instead of  for bests section</li>
  <li>Only auto-enable related content for group content types</li>
</ul>

<h4>OA Search 2.5</h4>
<ul>
  <li>Remove strict warning for php 5.4</li>
  <li><a href="/node/2492613">#2492613</a> by m1n0: oa_search_theme() not using $path consistently</li>
  <li><a href="/node/2490004">#2490004</a> by m1n0: Incorrect @file comments in oa_search ctools plugins</li>
</ul>

<h4>OA Sitemap 2.6</h4>
<ul>
  <li>Make sure result1 exists before testing it, prevent js error when sitemap is empty</li>
  <li><a href="/node/2491129">#2491129</a>: update drag and drop arg</li>
  <li><a href="/node/2491129">#2491129</a>: add hidden div arround initial select2 element</li>
  <li><a href="/node/2491129">#2491129</a>: Move the select2 element inside</li>
  <li><a href="/node/2491129">#2491129</a>: fix some drag and drop issues</li>
  <li><a href="/node/2491129">#2491129</a>: fix token and array issues</li>
  <li><a href="/node/2491129">#2491129</a>: remove console.log</li>
  <li><a href="/node/2491129">#2491129</a>: Add in search space</li>
  <li><a href="/node/2491129">#2491129</a>: Use object instead of array so empty keys not sent</li>
  <li><a href="/node/2491129">#2491129</a>: Ensure distinct subspace keys</li>
  <li><a href="/node/2491129">#2491129</a>: Fix + subspace spacing</li>
  <li><a href="/node/2491129">#2491129</a>: Standarize editUrl as editUrl vs. editURL and fix muliple parent overrides</li>
  <li><a href="/node/2491129">#2491129</a>: clean up some more</li>
  <li><a href="/node/2491129">#2491129</a>: Continue fixing items that got broken</li>
  <li><a href="/node/2491129">#2491129</a>: Continue getting the ajax load to work</li>
  <li><a href="/node/2491129">#2491129</a>: Start conversion to ajax getting of spaces</li>
  <li><a href="/node/2491129">#2491129</a>: Fix new space/section apply</li>
  <li><a href="/node/2491129">#2491129</a>: Fix some functionality that got broke</li>
  <li><a href="/node/2491129">#2491129</a>: Getting section dragging back to working</li>
  <li><a href="/node/2491129">#2491129</a>: Get draggable spaces working</li>
  <li><a href="/node/2491129">#2491129</a>: rename and delete sections transfered to services</li>
  <li><a href="/node/2491129">#2491129</a>: Add save title service</li>
  <li><a href="/node/2491129">#2491129</a>: Seperate js into own files for better organization</li>
  <li><a href="/node/2491129">#2491129</a>: begining of converting to ajax service</li>
  <li><a href="/node/2491129">#2491129</a>: add basic routing</li>
  <li><a href="/node/2491129">#2491129</a>: Add oa-sitemap-add component</li>
  <li><a href="/node/2491129">#2491129</a>: Add section box</li>
  <li><a href="/node/2491129">#2491129</a>: Move space box into own directive</li>
</ul>

<h4>OA Subspaces 2.30</h4>
<ul>
  <li><a href="/node/2407399">#2407399</a>: Fix error with parent</li>
</ul>

<h4>OA Toolbar 2.3</h4>
<ul>
  <li><a href="/node/2499315">#2499315</a>: Space permissions not working, when Administer group is enabled</li>
  <li><a href="/node/2486749">#2486749</a> by nagy.balint: Space menu render warnings</li>
</ul>

<h4>OA Tour 2.2</h4>
<ul>
  <li>Call oa_core_taxonomy_vocabulary to get a vocab to handle og_vocab</li>
  <li>Fix issue with tours alter when inside group administration pages</li>
</ul>
<h4>OA Tour Defaults 2.2</h4>
<ul>
  <li>Change News Section to Document section</li>
  <li>Restrict instalation tour to authenticated users</li>
  <li><a href="/node/2499957">#2499957</a>: Remove step ids</li>
</ul>

<h4>OA Wizard 2.1</h4>
<ul>
  <li>Remove console.log</li>
</ul>

<h4>OA Radix 3.13</h4>
<ul>
  <li>css styling for og_vocab lists</li>
  <li>Handle views table grouping caption</li>
  <li>Use extend instead of .widget to add open</li>
  <li>Update radix patch</li>
  <li>Theming for oa_users_submitted widget</li>
  <li>Tweak comment topics padding and image</li>
  <li>Tweak IPE widget title padding</li>
  <li>Tweak IPE button css</li>
  <li>Add css for ipe revision fields</li>
  <li>Fix broken radix patch</li>
  <li>Fix hash error</li>
</ul>
