
<h1>Open Atrium <strong>2.4</strong>.3</h1>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<h2>IMPORTANT NOTES (if upgrading from older than 2.40)</h2>
<ul>
<li><strong>CRITICAL IMPORTANCE</strong> : <strong>Make a BACKUP of your database</strong> before applying this update.  This should be done for any update but is especially important if updating a site earlier than v2.40 because of the Discussion Reply migration</li>
</ul>
<p>This major update converts the old Discussion Replies into Drupal Comments.  Comments are now used throughout Open Atrium to "reply to anything".  Depending upon the number of discussion replies on your site, the Update (drush updb or update.php) could take a while.  Be patient and let it complete to avoid any data loss.</p>
<h2>New Features</h2>
<ul>
<li>None, just bug fixes.</li>
</ul>
<h2>Major module/security updates</h2>
<ul>
<li>Panopoly <a href="https://www.drupal.org/node/2521958">1.24</a></li>
<li>Panopoly <a href="https://www.drupal.org/node/2529718">1.25</a></li>
<li>Administration Views - Critical - Information Disclosure - <a href="https://www.drupal.org/node/2529378">SA-CONTRIB-2015-132</a></li>
<li>Views Bulk Operations - Moderately critical - Access Bypass - <a href="https://www.drupal.org/node/2516688">SA-CONTRIB-2015-131</a></li>
<li>Migrate - Less critical - Cross Site Scripting (XSS) - <a href="https://www.drupal.org/node/2516678">SA-CONTRIB-2015-130</a></li>
<li>Inline Entity Form - Less critical - Cross Site Scripting (XSS) - <a href="https://www.drupal.org/node/2507605">SA-CONTRIB-2015-120</a></li>
</ul>
<hr>
<h3>Features normally overridden</h3>
<p>This version of Atrium is clean.  On a fresh install, no features should be marked as overridden.</p>
<hr>
<h2>Changes since last release (2.42)</h2>
<ul>
<li>Previous <a href="https://www.drupal.org/node/2484937">2.40 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/node/2485865">2.41 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/node/2510206">2.42 release notes</a>.</li>
</ul>
<h4>Drupal core patch changes</h4>
<ul>
  <li><a href="/node/1891228">#1891228</a> image_style_deliver can create invalid headers</li>
</ul>

<h4>Panopoly patch changes</h4>
<ul>
  <li><a href="/node/2514068">#2514068</a> Panopoly Core/Panelizer: Error editing user Panelizer content with revisions</li>
  <li><a href="/node/1549608">#1549608</a> Panopoly Core/Panelizer: Cannot import exported Panelizer permissions using Features/defaultconfig if handler cache is stale</li>
  <li><a href="/node/2528428">#2493041</a> Panopoly Core/Ctools: Add 'show' state handler for hiding/showing form fields</li>
  <li><a href="/node/2514068">#2448989</a> Panopoly Core/Ctools: Cache plugins for ctools_entity_from_field_get_children</li>
  <li><a href="/node/2514068">#2510944</a> Panopoly Core/Apps: Update Apps to 1.0</li>
  <li><a href="/node/2528428">#2528428</a> Panopoly Widgets/Media: Javascript not loaded when Media Browser view is empty</li>
  <li><a href="/node/2528428">#2521968</a> Panopoly Images/Manualcrop: Manualcrop is showing for videos</li>
</ul>

<h4>Open Atrium installer</h4>
<ul>
  <li><a href="/node/2418813">#2418813</a>: Move the cache clear to finished routinue so that the variables are fully initlized</li>
</ul>

<h4>OA Core 2.56</h4>
<ul>
  <li>Remove object error when notification sent to bad email address</li>
  <li>Handle deleted users</li>
  <li>Handle names of deleted users</li>
  <li>Fix missing</li>
  <li>Remove old is_parent filter from news view</li>
  <li>Add helper function to determine if exposed filter is collapsed</li>
  <li><a href="/node/2512346">#2512346</a> by kporras07: oa_core trying to use a constant defined in comment even if comment is disabled</li>
  <li>Fix bad view filter causing failing views to disappear</li>
  <li>Add helper functions for space variables</li>
</ul>

<h4>OA Discussion 2.35</h4>
<ul>
  <li>Add taxonomy terms to discussion panelizer layout</li>
</ul>

<h4>OA Events 2.34</h4>
<ul>
  <li>Move attachments, links, taxonomy terms from event detail view into panelizer</li>
</ul>

<h4>OA Documents 2.32</h4>
<ul>
  <li>Fix oa_related colorbox display mode</li>
  <li>Move terms before links in panelizer layout</li>
  <li>Move link css to oa_radix</li>
</ul>

<h4>OA Archive 2.1</h4>
<ul>
  <li>Remove extra t</li>
</ul>

<h4>OA Clone 2.5</h4>
<ul>
  <li><a href="/node/2476817">#2476817</a>: Clone variables that are set</li>
</ul>

<h4>OA Comment 2.4</h4>
<ul>
  <li><a href="/node/2527314">#2527314</a>: Discussion Post view shows n^2 times more the number n of pictures really attached through Media Gallery Paragraph to content creator</li>
  <li>Fix media file colorbox mode</li>
  <li>Better handling of comment links</li>
  <li><a href="/node/2504127">#2504127</a>: Sort by comment or node changed</li>
</ul>

<h4>OA Contextual tabs 2.28</h4>
<ul>
  <li>Fix Cancel button showing file instead of node</li>
</ul>

<h4>OA Domains 2.1</h4>
<ul>
  <li><a href="/node/2162997">#2162997</a> by marqpdx, kengilb, gaele: Make subspaces inherit domain settings</li>
</ul>

<h4>OA Files 2.11</h4>
<ul>
  <li><a href="/node/2510836">#2510836</a>: check both + and space for fids...</li>
</ul>

<h4>OA Media 2.29</h4>
<ul>
  <li>Fix colorbox file modes</li>
</ul>

<h4>OA Related Content 2.3</h4>
<ul>
  <li>Tweak center and full video display</li>
  <li>Fix colorbox view mode for videos</li>
</ul>

<h4>OA Subspaces 2.31</h4>
<ul>
  <li>Inheritence => Inheritance</li>
</ul>

<h4>OA Toolbar 2.4</h4>
<ul>
  <li><a href="/node/2500655">#2500655</a>: The section menu not correctly showed when more than one section with same section type</li>
</ul>

<h4>OA Tour 2.3</h4>
<ul>
  <li>Update inline_entity_form module</li>
</ul>

<h4>OA Radix 3.14</h4>
<ul>
  <li>Fix exposed filters always expanded when url has arguments</li>
  <li>Missing close button in jquery.ui dialogs</li>
  <li>Update css styles for taxonomy links</li>
</ul>

<h4>Bootstrap Tour 2.4</h4>
<ul>
  <li>Cache bootstrap_tour css and js locally</li>
  <li>Clean up some session code</li>
  <li><a href="/node/2514672">#2514672</a>: Tours are not starting</li>
  <li><a href="/node/2510772">#2510772</a>: make sure field exists before fetching it</li>
</ul>
