
<h1>Open Atrium <strong>2.4</strong>.4</h1>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<h2>IMPORTANT NOTES (if upgrading from older than 2.40)</h2>
<ul>
<li><strong>CRITICAL IMPORTANCE</strong> : <strong>Make a BACKUP of your database</strong> before applying this update.  This should be done for any update but is especially important if updating a site earlier than v2.40 because of the Discussion Reply migration</li>
</ul>
<p>This major update converts the old Discussion Replies into Drupal Comments.  Comments are now used throughout Open Atrium to "reply to anything".  Depending upon the number of discussion replies on your site, the Update (drush updb or update.php) could take a while.  Be patient and let it complete to avoid any data loss.</p>
<h2>New Features</h2>
<ul>
<li>None, just bug fixes.</li>
</ul>
<h2>Major module/security updates</h2>
<ul>
<li>Panopoly <a href="https://www.drupal.org/node/2554323">1.26</a></li>
<li>Drupal Core 7.39 - Critical - Multiple Vulnerabilities - <a href="https://www.drupal.org/SA-CORE-2015-003">SA-CORE-2015-003</a></li>
<li>Ctools 1.8 - Critical - Multiple Vulnerabilities - <a href="https://www.drupal.org/node/2554145">SA-CONTRIB-2015-141</a></li>
</ul>
<hr>
<h3>Features normally overridden</h3>
<p>This version of Atrium is clean.  On a fresh install, no features should be marked as overridden.</p>
<hr>
<h2>Changes since last release (2.43)</h2>
<ul>
<li>Previous <a href="https://www.drupal.org/node/2484937">2.40 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/node/2485865">2.41 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/node/2510206">2.42 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/node/2530040">2.43 release notes</a>.</li>
</ul>

<h4>OA Core 2.58</h4>
<ul>
  <li>Another fix for the wysiwyg prefix in emails</li>
  <li>Fix stripping extra tag from start of wysiwyg</li>
  <li>Remove blank paragraph in emails</li>
  <li>Fix timestamp for message email</li>
  <li>Fix user image in email messages</li>
  <li>Inline styles for GMail in template</li>
  <li>Disable panopoly_core_breadcrumb_title variable for performance</li>
  <li>Ensure space context is saved to session</li>
  <li>Go to Members page when clicking on Inherited Space listing</li>
  <li>Fix space type select options being empty when you have permission for all space types</li>
  <li>Move WYSIWYG config into separate submodule and enable advlist options</li>
  <li>Handle display name for external user</li>
  <li>Disable welcome message field for external users for now</li>
  <li>Move External User from oa_core to oa_users and refactor to use its own simpler form</li>
  <li>Move add_external_user perm from oa_access to oa_core</li>
  <li>Fix typo in permission</li>
  <li><a href="/node/2550371">#2550371</a>: Active og_context node so panels paths active context</li>
  <li>Refactor how node creation messages are sent so can see notifications sent message</li>
  <li>Use tags for panopoly also</li>
  <li>Updating/adding comments.</li>
  <li>The template file for the registration form when adding a new user. This can be updated later but provides only the form elements we need for now.</li>
  <li>The plugin that allows a member, with the correct permissions, to add an external user to the system and the space, team, or group all at the same time.</li>
  <li>Adding a theme entry and a preprocess function for the form we are using for the user_register form.</li>
  <li>Adding a og permission for adding an external user.</li>
  <li>Adding a menu item and hook_forms.</li>
  <li>Clear variable cache when updating vocabs</li>
  <li>Clear variable cache when adding or removing vocabs</li>
  <li>Fix some typos</li>
  <li>Improve notification message templates</li>
  <li>Refactor mimemail body templates for notifications</li>
  <li>Add patch to mimemail to add messages to theme variables</li>
  <li>Fix mailhandler seperator position</li>
  <li>Fix user badge in notification email to be correct user</li>
  <li>Fix user name in From email</li>
  <li>Alter message subject so they can be merged into threads by email clients</li>
  <li>Alter notifications so they come from the user and have subjects that can be merged into threads in email clients</li>
  <li>Allow access to public spaces even if they have a private *Group* parent.  Only block if it has a private *Space* parent -- CORRECTED approach with new hook from og_subgroups.</li>
  <li>Revert "Allow access to public spaces even if they have a private *Group* parent.  Only block if it has a private *Space* parent."</li>
  <li>Allow access to public spaces even if they have a private *Group* parent.  Only block if it has a private *Space* parent.</li>
  <li>Fix initial creation notifications not having secure token for email replies</li>
  <li>Set bootstrap js to be included on all subthemes by default</li>
  <li>Change grammar</li>
  <li><a href="/node/2534134">#2534134</a>: Use og_subgroups function to determine what groups can view for visiblity widget</li>
  <li><a href="/node/2531362">#2531362</a>: Get 'My spaces' functionality working</li>
</ul>

<h4>OA Discussion 2.36</h4>
<ul>
  <li>Alter message subject so they can be merged into threads by email clients</li>
</ul>

<h4>OA Events 2.35</h4>
<ul>
  <li>Add patch to fullcalendar so it calls hook_exit</li>
</ul>

<h4>OA Worktracker 2.2</h4>
<ul>
  <li>Improve notification message templates</li>
  <li>Alter message subject so they can be merged into threads by email clients</li>
  <li>Add patch to comment_alter for comments overwriting fields in task</li>
  <li>Allow worktracker task list to use pager</li>
</ul>

<h4>OA Clone 2.6</h4>
<ul>
  <li>Clean up blueprint taxonomy listing to link to cloned space</li>
</ul>

<h4>OA Comment 2.5</h4>
<ul>
  <li><a href="/node/2515104">#2515104</a>: Adding links that are just title tags to comment links</li>
  <li>Fix comment not expanded when just contains related content</li>
  <li><a href="/node/2530618">#2530618</a>: AJAX HTTP Error (with Result Code 403) "Forbidden" in replying to posted comment</li>
</ul>

<h4>OA Files 2.12</h4>
<ul>
  <li>Use same object to keep scope intact</li>
  <li><a href="/node/2447471">#2447471</a>: File count remians 0 for new folders</li>
  <li>Fix date missing and weight issues with menu folders</li>
</ul>

<h4>OA Mailhandler 2.20</h4>
<ul>
  <li>Fix strpos for automatic reply filtering</li>
  <li>Support html mail in mailhandler</li>
  <li>Loop through all mailboxes to prevent notifications</li>
  <li>Fix alter hook name</li>
  <li>Prevent notifications from getting sent to mailhandler inbox</li>
  <li>Refactor mimemail templates in oa_messages</li>
  <li>Allow auto-responder filter text to be translated</li>
  <li>Filter autoresponders</li>
  <li>Remove debugging</li>
  <li>Testing more agreesive body filtering</li>
  <li>Debugging mailhandler</li>
</ul>

<h4>OA Related Content 2.4</h4>
<ul>
  <li>Fix error when snippet references orphaned content</li>
</ul>

<h4>OA Subspaces 2.31</h4>
<ul>
  <li>Updated og_subgroups patch for parent access control</li>
</ul>

<h4>OA Radix 3.15</h4>
<ul>
  <li>List indent css</li>
  <li>Fix bad compass-radix version and updated gemfile</li>
  <li>Fix list styles properly</li>
</ul>
