
<h1>Open Atrium <strong>2.4</strong>.5</h1>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<h2>IMPORTANT NOTES (if upgrading from older than 2.40)</h2>
<ul>
<li><strong>CRITICAL IMPORTANCE</strong> : <strong>Make a BACKUP of your database</strong> before applying this update.  This should be done for any update but is especially important if updating a site earlier than v2.40 because of the Discussion Reply migration</li>
</ul>
<p>This major update converts the old Discussion Replies into Drupal Comments.  Comments are now used throughout Open Atrium to "reply to anything".  Depending upon the number of discussion replies on your site, the Update (drush updb or update.php) could take a while.  Be patient and let it complete to avoid any data loss.</p>
<h2>New Features</h2>
<ul>
<li>None, just bug fixes.</li>
</ul>
<h2>Major module/security updates</h2>
<ul>
<li>Panopoly <a href="https://www.drupal.org/node/2562085">1.27</a></li>
<li>Fieldable Panels Panes - Less Critical - Access bypass - <a href="https://www.drupal.org/node/2561971">SA-CONTRIB-2015-145</a></li>
<li>MimeMail <a href="https://www.drupal.org/node/2544302">7.x-1.0-beta4</a></li>
<li>Feeds <a href="https://www.drupal.org/node/2531428">7.x-2.0-beta1</a></li>
</ul>
<hr>
<h3>Features normally overridden</h3>
<p>This version of Atrium is clean.  On a fresh install, no features should be marked as overridden.</p>
<hr>
<h2>Changes since last release (2.43)</h2>
<ul>
<li>Previous <a href="https://www.drupal.org/node/2484937">2.40 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/node/2485865">2.41 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/node/2510206">2.42 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/node/2530040">2.43 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/node/2554865">2.44 release notes</a>.</li>
</ul>

<h4>OA Core 2.60</h4>
<ul>
  <li>Update oa_wysiwyg so its not overridden</li>
  <li>Allow space admins to add fieldable panel pane widgets without editor role</li>
  <li><a href="/node/2569695">#2569695</a>: User notifications message settings at user/[uid]/settings are not honored after saving</li>
  <li>Make title query limit use selection limit variable</li>
  <li>Update feeds version</li>
  <li>Fix Groups visibility field autocomplete to handle limit and improve performance</li>
  <li>Fix hidden space dropdown menu when in Views popup dialogs</li>
  <li>Add related content to notification body messages</li>
  <li>Add mimemail patch for image urls</li>
  <li>Don't wrap node-links pane</li>
  <li>Update mimemail to 1.0-beta4</li>
  <li>join issue with paragraphs</li>
  <li>Make sure messages are sent during test as now they are not sent on create itself</li>
</ul>

<h4>OA Events 2.36</h4>
<ul>
  <li>Remove the PRE tags that were breaking event attachment, but still don't have headers added.</li>
  <li>Convert to real fullcalendar_create project</li>
</ul>

<h4>OA Wiki 2.34</h4>
<ul>
  <li>Switch to full mode for node links to be consistant with the rest</li>
</ul>

<h4>OA Clone 2.7</h4>
<ul>
  <li>Support cloning non-node links in space menu</li>
  <li>Fix crash when cloning blueprints that try to make dup permissions</li>
</ul>

<h4>OA Comment 2.6</h4>
<ul>
  <li>Don't wrap comment pane</li>
  <li>Remove debugging</li>
  <li>Debugging comment media view</li>
  <li>Fixing comments in code</li>
  <li>Debugging user image for comment media view</li>
</ul>

<h4>OA Media 2.30</h4>
<ul>
  <li>Support images in related media gallery and comments in media browser view</li>
</ul>

<h4>OA Related Content 2.5</h4>
<ul>
  <li>Revert "Fix entity type in reverse view joins, with debugging"</li>
  <li>Removing debugging</li>
  <li>Fix entity type in reverse view joins, with debugging</li>
  <li>Fix Referenced From to only show nodes that match</li>
</ul>

<h4>OA Sitemap 2.8</h4>
<ul>
  <li><a href="/node/2535502">#2535502</a>: Refresh the page after add is scoped</li>
</ul>

<h4>OA Subspaces 2.33</h4>
<ul>
  <li>Update og_subgroups version</li>
</ul>

<h4>OA Toolbar 2.5</h4>
<ul>
  <li><a href="/node/2558437">#2558437</a>: Css margin makes user's dropdown menu inaccessible</li>
  <li>Clone the show-space-menu variable for spaces</li>
</ul>

<h4>OA Radix 3.18</h4>
<ul>
  <li>Fix wysiwyg button when no field title</li>
  <li>Fix overlapping help text on body fields with wysiwyg selector</li>
  <li><a href="/node/2535948">#2535948</a>: Errors when planning repeatable events on Nth day of month</li>
  <li>Update patch for radix</li>
</ul>

<h4>Command Buttons 1.12</h4>
<ul>
  <li><a href="/node/2448703">#2448703</a>: Full width buttons not working</li>
</ul>
