
<h1>Open Atrium <strong>2.5</strong>.0-rc1</h1>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<p><strong>IMPORTANT</strong> : <strong>Make a BACKUP of your database</strong> before applying any updates.</p>
<h2>New Features</h2>
<ul>
<li>New oa_export app allows you to export and import Space Blueprints across different sites.</li>
<li>Atrium branding is now encapsulated into the new oa_brand module which can be disabled to remove logos, etc.</li>
</ul>
<h2>Major module/security updates</h2>
<ul>
<li>Panopoly <a href="https://www.drupal.org/node/2598684">1.28</a>
  <ul>
    <li>Drupal Core 7.41 - Overlay - Less Critical - Open Redirect - <a href="https://www.drupal.org/SA-CORE-2015-004">SA-CORE-2015-004</a></li>
    <li>jQuery Update 2.7 - Less Critical - Open Redirect - <a href="https://www.drupal.org/node/2598426">SA-CONTRIB-2015-158</a></li>
  </ul>
</li>
<li>Colorbox 2.10 - Access Bypass - Less Critical - <a href="https://www.drupal.org/node/2582071">SA-CONTRIB-2015-156</a></li>
<li><a href="https://www.drupal.org/node/2586905">Paragraphs 1.0-rc4</a></li>
</ul>
<hr>
<h3>Features normally overridden</h3>
<p>This version of Atrium is clean.  On a fresh install, no features should be marked as overridden.</p>
<hr>
<h2>Changes since last release (2.45)</h2>
<ul>
<li>Previous <a href="https://www.drupal.org/node/2570381">2.45 release notes</a>.</li>
</ul>
<p>NOTE: Several apps had their icons updated, which required a new release but will not be listed here.</p>

<h4>OA Core 2.62</h4>
<ul>
  <li><a href="/node/2434857">#2434857</a> by rsmylski: Need patch for Date Facets module</li>
  <li>Add support to oa_core_add_panes hook for mini panels</li>
  <li>Add helper function for getting the default banner</li>
  <li>Change default user avatar image</li>
  <li>Update correct layout name for user login block</li>
  <li>Update atrium logo</li>
  <li>Testing new icon</li>
  <li>fix comment</li>
  <li>Default to Any space in Admin find content view</li>
  <li>Return default for menu parent if section not found</li>
  <li>Update og_session_context module</li>
</ul>

<h4>OA Appearance 2.5</h4>
<ul>
  <li>Call new helper function to get default banner</li>
  <li>Don't hard code size of default logo image</li>
  <li>Update default logo size</li>
  <li>Update logo</li>
</ul>

<h4>OA Brand 2.0<h4>
<ul>
<li><strong>NEW!</strong>
</ul>
<h4>OA Comment 2.7</h4>
<ul>
  <li>Update logo</li>
  <li>Remove reply link when comments are not threaded</li>
  <li>Fix problem expanding comments and handle clicking links and images in comments</li>
  <li>Fix missing comment css</li>
</ul>

<h4>OA Export 2.0</h4>
<ul>
  <li><strong>NEW!</strong></li>
</ul>

<h4>OA Files 2.13</h4>
<ul>
  <li>Update logo</li>
  <li>Fix file/folder listing when section not in menu</li>
</ul>

<h4>OA Home 2.2</h4>
<ul>
  <li>Move branding from oa_home into oa_brand</li>
  <li>Fix sprout background position</li>
  <li>Updated atrium branding home page</li>
</ul>

<h4>OA Media 2.30</h4>
<ul>
  <li>Don't force OG content when embedding images from wysiwyg</li>
</ul>

<h4>OA Sitemap 2.9</h4>
<ul>
  <li>Remove branding from site map</li>
  <li><a href="/node/2570733">#2570733</a>: Site Map: adding a New Section generates two references/icons of the same new node if the page is not refreshed manually</li>
</ul>

<h4>OA Toolbar 2.6</h4>
<ul>
  <li>Call new helper function to get default banner</li>
  <li>Don't hard code size of default logo image</li>
  <li>Update default logo size</li>
  <li>Fix sibling list in toolbar</li>
  <li>Allows altering the terms that are used to create 'jump links'.</li>
</ul>

<h4>OA Radix 3.19</h4>
<ul>
  <li>Move oa login branding to oa_brand</li>
  <li>Update favicon</li>
  <li><a href="/node/2569515">#2569515</a>: Can't select sub spaces or sections in toolbar on mobile devices</li>
</ul>

<h4>Other Contrib Module Updates</h4>
<ul>
  <li><a href="https://www.drupal.org/node/2213475">Chosen 2.0-beta4</a></li>
  <li><a href="https://www.drupal.org/node/2536588">Date iCal 3.5</a></li>
  <li><a href="https://www.drupal.org/node/2203221">Flag 2.2</a></li>
  <li><a href="https://www.drupal.org/node/2342357">Geofield 2.3</a></li>
  <li><a href="https://www.drupal.org/node/2474209">Message 1.10</a></li>
  <li><a href="https://www.drupal.org/node/2229127">Message Subscribe 1.0-rc2</li>
  <li><a href="https://www.drupal.org/node/2581371">OG Session Context 1.0-beta4</li>
  <li><a href="https://www.drupal.org/node/2597329">OG Subgroups 2.0-beta3</a></li>
  <li><a href="https://www.drupal.org/node/2242825">Options Element 1.12</a></li>
  <li><a href="https://www.drupal.org/node/2507521">Ultimate Cron 2.0-rc1</a></li>
  <li><a href="https://www.drupal.org/node/2247839">Variable 2.5</a></li>
  <li><a href="https://www.drupal.org/node/2351705">Views Load More 1.5</a></li>
</ul>
