
<h1>Open Atrium <strong>2.5</strong>.0-rc2</h1>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<p><strong>IMPORTANT</strong> : <strong>Make a BACKUP of your database</strong> before applying any updates.</p>
<h2>New Features</h2>
<ul>
<li>(rc1) New oa_export app allows you to export and import Space Blueprints across different sites.</li>
<li>(rc1) Atrium branding is now encapsulated into the new oa_brand module which can be disabled to remove logos, etc.</li>
<li>(rc2) Better handling for default file upload extensions.</li>
</ul>
<h2>Major module/security updates</h2>
<ul>
<li><a href="https://www.drupal.org/project/radix">Radix 3.x-dev</a></li>
</ul>
<hr>
<h3>Features normally overridden</h3>
<p>This version of Atrium is clean.  On a fresh install, no features should be marked as overridden.</p>
<hr>
<h2>Changes since last release (2.50-rc1)</h2>
<ul>
<li>Previous <a href="https://www.drupal.org/node/2599216">2.50-rc1 release notes</a>.</li>
</ul>

<h4>Quick Install</h4>
<ul>
  <li><a href="/node/2605776">#2605776</a> by mpotter: quick install error because of multiple sql statements</li>
</ul>

<h4><a href="https://www.drupal.org/project/oa_core">OA Core</a> 2.64</h4>
<ul>
  <li>Fix error in From user when sending notification emails from feeds posted comments</li>
  <li>Handle default file extensions via the Media configuration consistently</li>
  <li><a href="/node/2601632">#2601632</a> by mdeltito: Update Conditional Fields</li>
  <li><a href="/node/2604960">#2604960</a> by m1n0: User Notifications Settings page overrides values when pager is used</li>
  <li>Dont cache user space listing when using pager</li>
  <li>Adding default permissions for 'view trash content' and removing the administrator member for defautl role.</li>
  <li>Fixing formatting on comment.</li>
</ul>

<h4>OA Discussion 2.38</h4>
<ul>
  <li>Use default file extensions</li>
</ul>

<h4>OA Events 2.39</h4>
<ul>
  <li><a href="/node/2611176">#2611176</a> by mpotter: Body appears instead of title on iCal export feeds</li>
  <li>Use default file extensions</li>
</ul>

<h4>OA Wiki 2.36</h4>
<ul>
  <li>Use default file extensions</li>
</ul>

<h4>OA Worktracker 2.4</h4>
<ul>
  <li>Use default file extensions</li>
</ul>

<h4>OA Archive 2.3</h4>
<ul>
  <li>Update trash_flag version</li>
  <li>Adds a node grant for 'view trash content' for spaces</li>
</ul>

<h4>Open Atrium Export 2.0-beta2</h4>
<ul>
  <li>Refactor checking for existing taxonomy terms</li>
  <li>Needed to re-work the way taxonomy terms were imported. It was allowing duplicate taxonomy terms to be created.</li>
</ul>

<h4>OA Mailhandler 2.22</h4>
<ul>
  <li>Remove html comments from incoming emails (like Microsoft styles)</li>
  <li>Update feeds_comment_processor and better filter automated replies</li>
</ul>

<h4>OA Related 2.7</h4>
<ul>
  <li>Use default file extensions</li>
  <li><a href="/node/2607682">#2607682</a> by mdeltito: OA Related: PHP notice generated when content type does not contain body field</li>
</ul>
<h4>OA Radix 3.22</h4>
<ul>
  <li>Add padding and border to new Single Preview add-pane dialog</li>
  <li>Fix outer container padding/margin</li>
  <li>Fix missing X close button for Media browser</li>
  <li>Fix admin navbar width</li>
  <li>Update to latest -dev of Radix base theme</li>
  <li><a href="/node/2552787">#2552787</a> by Grayside: Backport performance bug fix from Radix</li>
</ul>

<h4>Other Contrib Module Updates</h4>
<ul>
  <li><a href="https://www.drupal.org/project/conditional_fields">Conditional Fields 3.x-dev</a></li>
  <li><a href="https://www.drupal.org/node/2608300">Trash Flag 2.0-beta5</a></li>
  <li><a href="https://www.drupal.org/node/2531478">Feeds Comment Processor 1.0</a></li>
</ul>
