
<h1>Open Atrium <strong>2.5</strong>.0</h1>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<p><strong>IMPORTANT</strong> : <strong>Make a BACKUP of your database</strong> before applying any updates.</p>
<h2>New Features</h2>
<ul>
  <li>New oa_export app allows you to export and import Space Blueprints across different sites.</li>
  <li>Atrium branding is now encapsulated into the new oa_brand module which can be disabled to remove logos, etc.</li>
  <li>Better handling for default file upload extensions.</li>
</ul>
<h2>Major module/security updates (since 2.45)</h2>
<ul>
  <li>Panopoly <a href="https://www.drupal.org/node/2618530">1.29</a></li>
  <li>Panopoly <a href="https://www.drupal.org/node/2598684">1.28</a>
    <ul>
      <li>Drupal Core 7.41 - Overlay - Less Critical - Open Redirect - <a
        href="https://www.drupal.org/SA-CORE-2015-004">SA-CORE-2015-004</a></li>
      <li>jQuery Update 2.7 - Less Critical - Open Redirect - <a href="https://www.drupal.org/node/2598426">SA-CONTRIB-2015-158</a>
      </li>
    </ul>
  </li>
  <li>Colorbox 2.10 - Access Bypass - Less Critical - <a
    href="https://www.drupal.org/node/2582071">SA-CONTRIB-2015-156</a>
  </li>
  <li><a href="https://www.drupal.org/node/2554183">CTools 1.9</a></li>
  <li><a href="https://www.drupal.org/node/2533084">Media 2.0-beta1</a></li>
  <li><a href="https://www.drupal.org/node/2586905">Paragraphs 1.0-rc4</a></li>
  <li><a href="https://www.drupal.org/project/radix">Radix 3.x-dev</a></li>
</ul>
<hr>
<h3>Features normally overridden</h3>
<p>This version of Atrium is clean. On a fresh install, no features should be marked as overridden.</p>
<hr>
<h2>Changes since last release (2.45)</h2>
<p>NOTE: Several apps had their icons updated, which required a new release but will not be listed here.</p>

<h4>Quick Install</h4>
<ul>
  <li><a href="/node/2605776">#2605776</a> by mpotter: quick install error because of multiple sql statements</li>
</ul>

<h4>OA Core 2.65</h4>
<ul>
  <li>Update conditional field feature to remove override</li>
  <li>Fix error in From user when sending notification emails from feeds posted comments</li>
  <li>Handle default file extensions via the Media configuration consistently</li>
  <li><a href="/node/2601632">#2601632</a> by mdeltito: Update Conditional Fields</li>
  <li><a href="/node/2604960">#2604960</a> by m1n0: User Notifications Settings page overrides values when pager is used</li>
  <li>Dont cache user space listing when using pager</li>
  <li>Adding default permissions for 'view trash content' and removing the administrator member for defautl role.</li>
  <li>Fixing formatting on comment.</li>
  <li><a href="/node/2434857">#2434857</a> by rsmylski: Need patch for Date Facets module</li>
  <li>Add support to oa_core_add_panes hook for mini panels</li>
  <li>Add helper function for getting the default banner</li>
  <li>Change default user avatar image</li>
  <li>Update correct layout name for user login block</li>
  <li>Update atrium logo</li>
  <li>Testing new icon</li>
  <li>fix comment</li>
  <li>Default to Any space in Admin find content view</li>
  <li>Return default for menu parent if section not found</li>
  <li>Update og_session_context module</li>
</ul>

<h4>OA Discussion 2.38</h4>
<ul>
  <li>Use default file extensions</li>
</ul>

<h4>OA Events 2.39</h4>
<ul>
  <li><a href="/node/2611176">#2611176</a> by mpotter: Body appears instead of title on iCal export feeds</li>
  <li>Use default file extensions</li>
</ul>

<h4>OA Wiki 2.36</h4>
<ul>
  <li>Use default file extensions</li>
</ul>

<h4>OA Worktracker 2.4</h4>
<ul>
  <li>Use default file extensions</li>
</ul>

<h4>OA Analytics 2.2</h4>
<ul>
  <li>Update google analytics module version</li>
</ul>

<h4>OA Appearance 2.5</h4>
<ul>
  <li>Call new helper function to get default banner</li>
  <li>Don't hard code size of default logo image</li>
  <li>Update default logo size</li>
  <li>Update logo</li>
</ul>

<h4>OA Archive 2.3</h4>
<ul>
  <li>Update trash_flag version</li>
  <li>Adds a node grant for 'view trash content' for spaces</li>
</ul>

<h4>OA Brand 2.0</h4>
<ul>
  <li><strong>NEW!</strong>
  <li>Add 'Tell us your story' block to home page</li>
  <li>Update discussion icon</li>
  <li>Update discussion icon</li>
</ul>

<h4>OA Comment 2.7</h4>
<ul>
  <li>Update logo</li>
  <li>Remove reply link when comments are not threaded</li>
  <li>Fix problem expanding comments and handle clicking links and images in comments</li>
  <li>Fix missing comment css</li>
</ul>

<h4>OA Clone 2.9</h4>
<ul>
  <li>Update conditional field feature to remove override</li>
</ul>

<h4>OA Export 2.0-beta4</h4>
<ul>
  <li><strong>NEW!</strong></li>
  <li>Fix vocab detection in blueprint import</li>
  <li>Refactor checking for existing taxonomy terms</li>
  <li>Needed to re-work the way taxonomy terms were imported. It was allowing duplicate taxonomy terms to be created.</li>
</ul>

<h4>OA Files 2.15</h4>
<ul>
  <li><a href="/node/2580333">#2580333</a>: oa_files php error Call to undefined function media_wysiwyg_include_browser_js()</li>
  <li>Update logo</li>
  <li>Fix file/folder listing when section not in menu</li>
</ul>

<h4>OA Home 2.2</h4>
<ul>
  <li>Move branding from oa_home into oa_brand</li>
  <li>Fix sprout background position</li>
  <li>Updated atrium branding home page</li>
</ul>

<h4>OA Mail Handler 2.24</h4>
<ul>
  <li>Fix problem with sending replies to replies not containing security token in subject line</li>
  <li>Remove html comments from incoming emails (like Microsoft styles)</li>
  <li>Update feeds_comment_processor and better filter automated replies</li>
</ul>

<h4>OA Media 2.32</h4>
<ul>
  <li>Don't force OG content when embedding images from wysiwyg</li>
</ul>

<h4>OA Related 2.8</h4>
<ul>
  <li>Use default file extensions</li>
  <li><a href="/node/2607682">#2607682</a> by mdeltito: OA Related: PHP notice generated when content type does not contain body field</li>
</ul>

<h4>OA Sitemap 2.9</h4>
<ul>
  <li>Remove branding from site map</li>
  <li><a href="/node/2570733">#2570733</a>: Site Map: adding a New Section generates two references/icons of the same new node if the page is not refreshed manually</li>
</ul>
<h4>OA Toolbar 2.7</h4>
<ul>
  <li>Call new helper function to get default banner</li>
  <li>Don't hard code size of default logo image</li>
  <li>Update default logo size</li>
  <li>Fix sibling list in toolbar</li>
  <li>Allows altering the terms that are used to create 'jump links'.</li>
</ul>

<h4>OA Radix 3.23</h4>
<ul>
  <li>Fix list padding to allow 2-digit numbers</li>
  <li>Add padding and border to new Single Preview add-pane dialog</li>
  <li>Fix outer container padding/margin</li>
  <li>Fix missing X close button for Media browser</li>
  <li>Fix admin navbar width</li>
  <li>Update to latest -dev of Radix base theme</li>
  <li><a href="/node/2552787">#2552787</a> by Grayside: Backport performance bug fix from Radix</li>
  <li>Move oa login branding to oa_brand</li>
  <li>Update favicon</li>
  <li><a href="/node/2569515">#2569515</a>: Can't select sub spaces or sections in toolbar on mobile devices</li>
</ul>

<h4>Other Contrib Module Updates</h4>
<ul>
  <li><a href="https://www.drupal.org/node/2213475">Chosen 2.0-beta4</a></li>
  <li><a href="https://www.drupal.org/project/conditional_fields">Conditional Fields 3.x-dev</a></li>
  <li><a href="https://www.drupal.org/node/2536588">Date iCal 3.5</a></li>
  <li><a href="https://www.drupal.org/node/2578145">Default Config 1.0-alpha11</a></li>
  <li><a href="https://www.drupal.org/node/2592441">Features 2.7</a></li>
  <li><a href="https://www.drupal.org/node/2592725">Features Override 2.0-rc3</a></li>
  <li><a href="https://www.drupal.org/node/2531478">Feeds Comment Processor 1.0</a></li>
  <li><a href="https://www.drupal.org/node/2533090">File Entity 2.0-beta2</a></li>
  <li><a href="https://www.drupal.org/node/2203221">Flag 2.2</a></li>
  <li><a href="https://www.drupal.org/node/2342357">Geofield 2.3</a></li>
  <li><a href="https://www.drupal.org/node/2548461">Link It 3.4</a></li>
  <li><a href="https://www.drupal.org/node/2474209">Message 1.10</a></li>
  <li><a href="https://www.drupal.org/node/2229127">Message Subscribe 1.0-rc2</li>
  <li><a href="https://www.drupal.org/node/2581371">OG Session Context 1.0-beta4</li>
  <li><a href="https://www.drupal.org/node/2597329">OG Subgroups 2.0-beta3</a></li>
  <li><a href="https://www.drupal.org/node/2242825">Options Element 1.12</a></li>
  <li><a href="https://www.drupal.org/node/2582001">Pathauto 1.3</a></li>
  <li><a href="https://www.drupal.org/node/2608300">Trash Flag 2.0-beta5</a></li>
  <li><a href="https://www.drupal.org/node/2507521">Ultimate Cron 2.0-rc1</a></li>
  <li><a href="https://www.drupal.org/node/2247839">Variable 2.5</a></li>
  <li><a href="https://www.drupal.org/node/2351705">Views Load More 1.5</a></li>
</ul>
