
<h1>Open Atrium <strong>2.5</strong>.1</h1>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<p><strong>IMPORTANT</strong> : <strong>Make a BACKUP of your database</strong> before applying any updates.</p>
<h2>New Features</h2>
<ul>
  <li>None</li>
</ul>
<h2>Major module/security updates (since 2.45)</h2>
<p><strong>IMPORTANT</strong> : <strong>This is a REQUIRED security update for Open Atrium!</strong></p>
<p>See <a href="https://www.drupal.org/node/2636380">Open Atrium - Critical - Cross Site Scripting (XSS) - SA-CONTRIB-2015-174</a> for details. All Open Atrium sites later than version 2.30-rc1 (oa_core versions later than 2.32) need to update.  Sites running older versions of Open Atrium that cannot do a full Atrium upgrade should apply the hot-fix patch to oa_core module mentioned in the SA.</p>
<p>Other security updates:</p>
<ul>
  <li>Select2Widget cross site scripting <a href="https://www.drupal.org/node/2636352">SA-CONTRIB-2015-156</a>
  </li>
</ul>
<hr>
<h3>Features normally overridden</h3>
<p>This version of Atrium is clean. On a fresh install, no features should be marked as overridden.</p>
<p>If command_buttons is overridden, it is safe to revert it.</p>
<hr>
<h2>Changes since last release (2.50)</h2>

<h4>OA Core 2.67</h4>
<ul>
  <li>Update colorizer module</li>
  <li>Update select2widget version</li>
  <li>Fix exposed filter for og_group_ref</li>
</ul>

<h4>OA Radix 3.23</h4>
<ul>
  <li>Fix float left/right images in media gallery paragraphs</li>
</ul>

<h4>Other Contrib Module Updates</h4>
<ul>
  <li><a href="https://www.drupal.org/node/2636368">Colorizer 1.8</a></li>
  <li><a href="https://www.drupal.org/project/select2widget">Select2Widget 1.9</a></li>
</ul>
