
<h1>Open Atrium <strong>2.5</strong>.2</h1>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<p><strong>IMPORTANT</strong> : <strong>Make a BACKUP of your database</strong> before applying any updates.</p>
<h2>New Features</h2>
<ul>
<li>None.</li>
</ul>
<h2>Major module/security updates</h2>
<ul>
<li>Panopoly <a href="https://www.drupal.org/node/2645728">1.30</a></li>
<li>Field Group - Moderately Critical - Cross Site Scripting (XSS) - <a href="https://www.drupal.org/node/2645350">SA-CONTRIB-2016-001</a></li>
</ul>
<hr>
<h3>Features normally overridden</h3>
<p>This version of Atrium is clean. On a fresh install, no features should be marked as overridden.</p>
<p>But if command_buttons or features_template are overridden, they are safe to revert.</p>
<hr>
<h2>Changes since last release (2.51)</h2>

<h4>Drupal Core Patches</h4>
<ul>
  <li><a href="/node/2097081">#2097081</a> Sticky headers are not calculating the column widths properly</li>
</ul>

<h4>OA Core 2.68</h4>
<ul>
  <li>Add panelizer layout classes to body tag</li>
  <li>Add new helper function for adding classes to body tag of page</li>
</ul>

<h4>OA Toolbar 2.8</h4>
<ul>
  <li>Add panelizer classes to body tag</li>
</ul>
