
<h1>Open Atrium <strong>2.5</strong>.3</h1>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<p><strong>IMPORTANT</strong> : <strong>Make a BACKUP of your database</strong> before applying any updates.</p>
<h2>New Features</h2>
<ul>
  <li>None</li>
</ul>
<h2>Major module/security updates (since 2.52)</h2>
<p><strong>IMPORTANT</strong> : <strong>This is a security update for Open Atrium!</strong></p>
<p>See <a href="https://www.drupal.org/node/">Open Atrium - Access to private data - SA-CONTRIB-2016-XXX</a> for details. This update is needed for any Open Atrium site that has a public subspace (that should be private) within a private parent space.</p>
<hr><h3>Features normally overridden</h3>
<p>This version of Atrium is clean. On a fresh install, no features should be marked as overridden.</p>
<p>But if command_buttons or features_template are overridden, they are safe to revert.</p>
<hr>
<h2>Changes since last release (2.51)</h2>

<h4>Drupal Core Patches</h4>
<ul>
  <li><a href="/node/2329453">#2329453</a> Ignore front end vendor folders to improve directory search performance</li>
</ul>

<h4>OA Core 2.69</h4>
<ul>
  <li>Add batch for updating node access records</li>
  <li><a href="/node/2650402">#2650402</a> by alan-ps: Organic Groups User Access Replacement SQL Error</li>
</ul>

<h4>OA Subspaces 2.36</h4>
<ul>
  <li>Update og_subgroups</li>
  <li>Fix subspace view to show all children instead of just single level of children</li>
</ul>

<h4>Other Contrib Module Updates</h4>
<ul>
  <li><a href="https://www.drupal.org/node/2657570">OG Subgroups 7.x-2.0-beta5</a></li>
</ul>
