
<h1>Open Atrium <strong>2.5</strong>.4</h1>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<p><strong>IMPORTANT</strong> : <strong>Make a BACKUP of your database</strong> before applying any updates.</p>
<h2>New Features</h2>
<ul>
  <li>None</li>
</ul>
<h2>Major module/security updates</h2>
<ul>
<li>Drupal Core 7.43 - Critical - Multiple Vulnerabilities - <a href="https://www.drupal.org/SA-CORE-2016-001">SA-CORE-2016-001</a></li>
<li>Panopoly <a href="https://www.drupal.org/node/2676012">1.31</a></li>
</ul>
<hr><h3>Features normally overridden</h3>
<p>This version of Atrium is clean. On a fresh install, no features should be marked as overridden.</p>
<p>But if command_buttons or features_template are overridden, they are safe to revert.</p>
<hr>
<h2>Changes since last release (2.53)</h2>
<p>NONE</p>
