
<h1>Open Atrium <strong>2.6</strong>.0-rc1</h1>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<p><strong>IMPORTANT</strong> : <strong>Make a BACKUP of your database</strong> before applying any updates.</p>
<p><strong>NOTE:</strong> : When running updates, it is normal to see "oa_core_update_7236" run many times depending on the amount of content on your site.  Do not abort the update process, allow it to complete.</p>
<h2>New Features</h2>
<ul>
<li>New base theme (oa_basetheme)</li>
<li>New default theme (oa_theme)</li>
<li>Using panels everywhere to control overall site layout</li>
<li>New improved user interface with many new widgets for admins</li>
<li>New Editor widget in bottom-right for contextual tabs, Panels IPE, Save/Edit buttons, etc</li>
<li>New improved Notifications widgets.  Supports inherited users, parent spaces, shows user notification status</li>
<li>New Project space blueprint template included.</li>
<li>New code hooks for adding/changing layout options for related content paragraphs.</li>
</ul>
<h2>Major module/security updates</h2>
<ul>
  <li>Panopoly <a href="https://www.drupal.org/node/2680513">1.32</a></li>
    <ul>
      <li>Fieldable Panels Panes - Moderately Critical - Access Bypass - <a href="https://www.drupal.org/node/2679589">SA-CONTRIB-2016-014</a>
      </li>
    </ul>
  </li>
</ul>
<hr>
<h3>Features normally overridden</h3>
<p>This version of Atrium is clean.  On a fresh install, no features should be marked as overridden.</p>
<hr>
<h2>Changes since last release (2.54)</h2>
<ul>
<li>Previous <a href="https://www.drupal.org/node/2676556">2.54 release notes</a>.</li>
</ul>

<h4>OA Core 2.70</h4>
<ul>
  <li>Update colorizer</li>
  <li><a href="/node/2620180">#2620180</a>: Menu block ctools-menu-footer-1 is set to use parent menu link menu-footer:menu-footer:menu-footer:0 but the menu link was not loadable or does not exist</li>
  <li>Remove url from space members button</li>
  <li>Add button title</li>
  <li>Add button title option to create content</li>
  <li><a href="/node/2676022">#2676022</a> by mdeltito: Clear OA Buttons cache when OG permissions change</li>
  <li>Only hide main title if user submitted title is empty</li>
  <li>Add borders to members toolbar menu</li>
  <li>Add alter hook for changing layout, move user:default changes into oa_users</li>
  <li>Add Any space to user activity and expose filters</li>
  <li>Set user activity to Any space, expose filters and pager</li>
  <li>Fix illegal option in recent activity widget from teaser message viewmode</li>
  <li>Add optional node for determining current section context</li>
  <li>Fix php in toolbar button</li>
  <li>Fix error in space members widget</li>
  <li>Fix mising title in space members toolbar</li>
  <li>Add warning to visibility if public space within private parent</li>
  <li>Fix visibility widget to handle private parent spaces</li>
  <li>Support array of bundles in get parents and get titles</li>
  <li>Support array args in cache key</li>
  <li>Update layout of default user dashboard to put image/spaces in left sidebar instead of right</li>
  <li>Update indentation in oa_news view and panelizer export, change edit link and thumbnail in news view</li>
  <li>Remove extra image pane from footer layout</li>
  <li>Move oa_toolbar minipanel to oa_toolbar feature</li>
  <li>Update template for recent activity</li>
  <li>Merge branch '7.x-2.x' of git.drupal.org:project/oa_core into 7.x-2.x</li>
  <li>Update base template for oa_users_submitted pane</li>
  <li>It will help if modules that need to call features_template_revert() use this instead. We can minimize the calls which should increase performance greatly. In the chain of this call hook_system_info() is called multiple times.</li>
  <li>Make sections visible in space menu by default (for new installs)</li>
  <li><a href="/node/2656946">#2656946</a> by mdeltito: Allow default/fallback path alias to be configurable</li>
  <li>Make member toolbar widget button a link</li>
  <li>Add member toolbar widget</li>
  <li>Allow mouseover action on space config widget</li>
  <li>Add option for hiding post info</li>
  <li>Fix selection of space/section taxonomy setting wrong layout value</li>
  <li>Set default space filter to All on user activity pane</li>
  <li>Add space config widget</li>
  <li>Add mode option for visibility widget and change css id to class</li>
  <li>Improve news template</li>
  <li>Add options for class and direction to add space content widget</li>
  <li>Fix more link in News pane to not use last html tag</li>
  <li>Add image style options to user submitted and add option to hide page title</li>
  <li>Merge tag '7.x-2.69' into 7.x-2.x</li>
  <li><a href="/node/2650402">#2650402</a> by alan-ps: Organic Groups User Access Replacement SQL Error</li>
  <li>Remove oa_responsive_regions from oa_core and move to base distro</li>
  <li>Update widgets in toolbar</li>
  <li>Tweak fluid css:</li>
  <li>Add caption and icon options to Create Content toolbar widget</li>
  <li>Remove loading of navbar since displace is no longer needed</li>
  <li>Always include the displace.js functionality from navbar module</li>
  <li>Merge with 7.x-2.x</li>
  <li>Update default user icon to fix for IE</li>
  <li>Remove old toolbar variable</li>
  <li>Add new helper function for adding classes to body tag of page</li>
</ul>

<h4>OA Discussion 2.39</h4>
<ul>
  <li>Fix discussion tests</li>
  <li>Update feature and change options for submitted_by pane in oa_discussion panelizer</li>
  <li>Update icon to use font awesome</li>
</ul>

<h4>OA Events 2.40</h4>
<ul>
  <li><a href="/node/2171709">#2171709</a> by Argus: Event Date display cannot be localized</li>
  <li>Control text wrapping in event date</li>
  <li>Dont show Add To Calendar button in related content featured viewmode</li>
  <li>Add submitted-by pane to event detail and change calendar week view from agenda to normal</li>
  <li>Tweak formatting for event pages</li>
</ul>

<h4>OA Wiki 2.37</h4>
<ul>
  <li>Update features export indentation, turn off IPE on document pages, add submitted-by info to document page</li>
</ul>

<h4>OA Worktracker 2.5</h4>
<ul>
  <li>Move tasks to top of user dashboard</li>
  <li>Indentation changes, and add node submitted pane to panelizer display</li>
  <li>Add span around comment count for easy styling</li>
  <li>Add duedate to view</li>
  <li>Turn off IPE for tasks by default</li>
  <li>Add og_vocab to tasks</li>
  <li>Re-export with latest Features</li>
</ul>

<h4>OA Appearance 2.6</h4>
<ul>
  <li>Fix header text margins</li>
  <li>Add class for banner stretch</li>
  <li>Only set colorizer defaults when installing</li>
  <li>Remove mention of oa-navbar</li>
  <li>Remove need for display and body padding calculations</li>
  <li>Change #oa-navbar to .oa-navbar</li>
  <li>Set colorizer defaults and update for new oa_radix</li>
  <li>Use preprocess_html instead of preprocess_page</li>
</ul>

<h4>OA Brand 2.1</h4>
<ul>
  <li>Allow brand image to be in theme</li>
  <li>Fix brand images on user login</li>
  <li>Update brand logo for new theme</li>
  <li>Fix text size in atrium brand logo</li>
  <li>Only change padding when using new site_layout</li>
  <li>Fix bottom margin of brand image</li>
  <li>Use preprocess_html instead of preprocess_page</li>
</ul>

<h4>OA Comment 2.8</h4>
<ul>
  <li>Add text when no topics are available to view</li>
  <li>Handle missing history timestamp field</li>
  <li>Set user topics to Any space and expose pager and filters</li>
  <li>Allow larger user images in comment views</li>
  <li>Cache features_template_info hook</li>
  <li>Add fields to comment media view for user uploaded</li>
  <li>Consolidate comment-topics template into single for entire view</li>
  <li>Update base templates for comments and comment media attachment pane</li>
  <li>Add more variables for media widget</li>
  <li>by mirie: Fix reply/edit comment popup on panelized node pages</li>
  <li>Ensure ctools modal is loaded for replying to comments</li>
  <li>Add filtering of comment body to remove signatures and extra blank lines</li>
  <li>FIx bug in Expand All/Collapse All where it wasn't affecting nested replies to replies</li>
  <li>Refactor the comment new/updated marks</li>
  <li>Allow larger user image in comments</li>
</ul>

<h4>OA Contextual Tabs 2.30</h4>
<ul>
  <li>Ensure local tasks are computed</li>
  <li>Show space config even if not on space page for local node tasks</li>
  <li>Fix url in space config pane</li>
  <li><a href="/node/2675714">#2675714</a> by mdeltito: OA Contextual Tabs: Fix warning line 108</li>
  <li>Fix error with empty links</li>
  <li>Remove extra border in space config widget</li>
  <li>Fix bad url in space config widget</li>
  <li>Fix foreach error in contextual_tabs</li>
  <li>Fix missing admin_links in space config widget</li>
  <li>Add auto, whitelist, blacklist options to contextual tabs</li>
  <li>Add missing t() functions</li>
  <li>Dont remove tasks on pages where contextual tabs are excluded, like admin</li>
  <li>Add config options for moving IPE buttons and restricting page tasks</li>
  <li>Fix dup #id for IPE buttons</li>
  <li>Add space config widget</li>
  <li>Copy panel ipe customize/layout links into contextual tabs</li>
  <li>Give visibility button a name so it can be easily removed</li>
</ul>

<h4>OA Export 2.0</h4>
<ul>
  <li>Add app icon</li>
  <li>Make oa_export an app</li>
  <li>Finally getting an update that allows exporting/importing og menus.</li>
  <li>Organizing files in directories.</li>
  <li>Comment and space fixes.</li>
  <li>Adding a file doc-block.</li>
  <li>Updating comments, removed unnecessary arg.</li>
  <li>Updating comments.</li>
  <li>The files that replaced the .extras. files.</li>
  <li>Updating function name</li>
  <li>These files have been replaced with oa_export.menus.export(import).inc</li>
  <li>Updating function name and the require for the menus file.</li>
  <li>Changing the name of the includes file for menus and the export functions in this file.</li>
  <li>Adding a batch operation to import menus for entities.</li>
  <li>Imports custom panelizer displays on an entity.</li>
  <li>Fixes an issue where the schema version wasn't getting properly incremented on an existing install file that contained update hooks.</li>
  <li>Adding the ability to completely overwrite the install file if we didn't find an implementation of hook_install() or hook_update_N().</li>
  <li>Adding the ability to choose which part of the match you want in your results.</li>
</ul>

<h4>OA Favorites 2.3</h4>
<ul>
  <li>Highlight active space in favorites</li>
  <li>Rename favorites flag captions</li>
  <li>Revert "Remove old toolbar variable"</li>
  <li>Change from #id to .class for favorite button</li>
  <li>Remove old toolbar variable</li>
  <li>Remove unneeded padding from favorites button</li>
</ul>

<h4>OA Files 2.16</h4>
<ul>
  <li>Tweak css padding</li>
</ul>

<h4>OA Home 2.3</h4>
<ul>
  <li>Reduce top margin</li>
  <li>Remove white border from atrium brand home page</li>
  <li>Add oa-home to body tag when home page is active</li>
  <li>Restore width css</li>
  <li>Move footer background below the login boxes</li>
  <li>Remove fixed width and top padding</li>
  <li>Move colorizer variables to oa_appearance and move site_home from Features into install</li>
</ul>

<h4>OA Mailhandler 2.25</h4>
<ul>
  <li>Strip moz-signature from email replies</li>
</ul>

<h4>OA Notifications 2.27</h4>
<ul>
  <li>HUGE REFACTOR and REDESIGN.</li>
  <li>Fix object error in node_access</li>
  <li>Strikethrough users that have notifications turned off</li>
  <li>Handle edit access and whether node has comments</li>
  <li>Support adding notifications via field, refactor to put parsing in one place</li>
  <li>Fix error in notification when inserting a new node programatically</li>
  <li>Put text input above notification list</li>
  <li>Hide expand all by default.  Show in javascript</li>
  <li>Normal font for notification label</li>
  <li>Hide expand all button if no teams/groups</li>
  <li>Dont use session for anonymous users</li>
  <li>Regenerate feature, indenting changes</li>
  <li>Fix broken notifications on edit form</li>
  <li>Fix php error in oa_notification for older versions</li>
  <li>Save expand state to allow it to be collapsed</li>
  <li>Add help message to follow button</li>
  <li>Remove unused code</li>
  <li>Add wildcard support and public users to autocomplete</li>
  <li>Change show all link title</li>
  <li>Fix sql index error when saving node</li>
  <li>Add separate icon for group and space</li>
  <li>Completely new and refactored notification components</li>
</ul>

<h4>OA Project 2.0</h4>
<ul>
  <li>NEW.  Project space blueprint template.</li>
</ul>

<h4>OA Related 2.9</h4>
<ul>
  <li>Fix error when there are no add-more children</li>
  <li>Fix missing variable error in tpl</li>
  <li>Capital BUNDLE doesn't work :( oops.</li>
  <li>Cache features_template_info hook</li>
  <li>Fix missing text for callout text paragraphs</li>
  <li>Merge into dev</li>
  <li>Change embedded title from h4 to h3</li>
  <li>Making sure that we account for every possible layout and include the theme suggestion for them so we render with our template.</li>
  <li>Forgot to add back in options for these if _none is selected. Need to figure out a better way to do this.</li>
  <li>Making things a lot more performant by just passing the value that was selected to the render function and adding theme hook suggestions to each options individually so they never get added if there happens to be two render functions added when the info arrays are merged.</li>
  <li>The media render function needs some work. Adding these unsets back for now until we can clean it up.</li>
  <li>Adding individual templates so we can get more creative with out theming.</li>
  <li>More modifications to the render functions to try and render output before it gets to the template.</li>
  <li>Spacing changes to function and adding theme suggestion.</li>
  <li>Rewriting the allowed values function and the helper that returns a cached version of the info array.</li>
  <li>Rewriting 'oa_related_preprocess_entity()' to use the new info array structure.</li>
  <li>Cleaning up the render functions for text and snippet and rendering the content here instead of in the template.</li>
  <li>Defining a completely different structure for 'hook_oa_related_field_info()'.</li>
  <li>Working on setting up better themeing options.</li>
  <li>This adds the 'field name' to all of the arrays. This makes it much easier to add a custom field for another feature. Otherwise, you end up having to add a drupal_alter just to add the 'field name' anyway.</li>
  <li>Need to revert 'field_base' so our new 'allowed_values_function' function is picked up.</li>
  <li>Changing name of file.</li>
  <li>Adding helper function to cache the info array returned by hook_oa_related_field_info(). Caching allowed values for the fields. Rewriting oa_related_preprocess_entity so it doesn't use hooks built with field names but checks for a 'field name' key in the info array if the bundle uses more than one field that is getting processed.</li>
  <li>Adding a new arg for field name and making sure nothing is rendered for related content if '_none' is selected.</li>
  <li>Putting the old 'allowed_values' array back for now. If values have been saved already it causes the oa_related feature to remain overridden.</li>
  <li>Updating comments for the render functions.</li>
  <li>Adding a new file that provides all of our 'hook_oa_related_FIELD_NAME_field_info()' functions. These are used for 'allowed values' and to allow defining new options and render functions. It gives us a hook system now.</li>
  <li>Just changing the names of the old alter functions to the new render function.</li>
  <li>Changing select fields, that are used to choose a layout on paragraph items, so the options are now defined by the 'allowed_values_function' and not defined in the settings form.</li>
  <li>Updating the preprocess entity function so we can define custom sets of options for paragraph entities to define custom layouts. Adding a function to handle the allowed values for the 'layout' fields on paragraph items.</li>
  <li>Features changes. Adding periods to comments.</li>
</ul>

<h4>OA Search 2.7</h4>
<ul>
  <li>Tweak search mobile toolbar</li>
  <li>Change button to link to support mouseover menu</li>
  <li>Add user class to search results picture</li>
  <li>Revert "Remove old toolbar variable"</li>
  <li>Remove old toolbar variable</li>
  <li>Set search toolbar button color to transparent</li>
  <li>Fix search toolbar height</li>
</ul>

<h4>OA Site Layout 2.0</h4>
<ul>
  <li>NEW!</li>
  <li>Update patch for panels everywhere</li>
  <li>Add app icon</li>
  <li>Make site layout defaults an app</li>
  <li>Remove z-index</li>
  <li>Fix blank line</li>
  <li>Fix error when there are no form actions</li>
  <li>Add modern layout</li>
  <li>Handle hiding page title</li>
  <li>Add options to tab pane for primary/secondary</li>
  <li>Add panel pane for showing edit form buttons</li>
  <li>Add patch to panels everywhere for duplicate page preview</li>
  <li>Fix flex layout so it doesnt put toolbars fixed to top/bottom</li>
  <li>Fix css to prevent page dropping down when no title pane is used</li>
  <li>Set panels everywhere variables when module installed</li>
  <li>Tweak markup for breadcrumb widget</li>
  <li>Add new site layout widgets for page elements</li>
  <li>Fix missing variables in template</li>
</ul>

<h4>OA Toolbar 2.9</h4>
<ul>
  <li>Remove hardcoded colors</li>
  <li>Dont display empty subspaces or section list</li>
  <li>Fix ordering of parents in space-nav list</li>
  <li>Add main menu mobile button</li>
  <li>Fix missing float</li>
  <li>Make drupal menu button consistent with other buttons</li>
  <li>Fix breakpoint value</li>
  <li>Fix undefined links error</li>
  <li>Handle mouseover changes when window resized</li>
  <li>Remove favorite flag if no space defined</li>
  <li>Remove collapse class from navigation</li>
  <li>Remove toolbar h3 color that is in colorizer</li>
  <li>handle empty link list</li>
  <li>Add mobile toolbar buttons</li>
  <li>Fix submenus in space structure</li>
  <li>Add node/add path to hide contextual tabs, re-export panelizer which flipped order of toolbars in export</li>
  <li>Improve space nav widget</li>
  <li>Fix php in toolbar button</li>
  <li>Fix foreach error in theme_list</li>
  <li>Add favorites to recent spaces widget</li>
  <li>Handle toolbar btn classes more consistently</li>
  <li>Improve putting user actions in admin task panel</li>
  <li>Add body class when navigation contains a main menu</li>
  <li>Add toolbar mini panels to oa_toolbar (moved from oa_layouts in oa_core)</li>
  <li>Fix array class error</li>
  <li>Mark current space/section as active class</li>
  <li>Add content panes for recent spaces, space nav, space structure</li>
  <li>Fix issue with hover not clearing focusout</li>
  <li>Only add margin if pulled left</li>
  <li>Add proper default pane options</li>
  <li>Restore padding to space menu</li>
  <li>Fix toolbar height when in site layout</li>
  <li>Missing caption variable for old admin button</li>
  <li>Fix missing oa_toolbar_btn_class warnings</li>
  <li>Adjust space menu icon and fluid toolbar css</li>
  <li>Add new drupal admin toolbar button with caption and icon support</li>
  <li>Remove need for Displace and body padding</li>
  <li>Change from #id to .class for toolbar</li>
  <li>Merge branch '7.x-2.x' into 2.60-dev</li>
  <li>Tweak admin button size</li>
  <li>Remove old toolbar variable</li>
  <li>Remove un-needed padding around command buttons in toolbar</li>
  <li>Fix regression to non-panels page template toolbar</li>
  <li>Use preprocess_html instead of preprocess_page</li>
  <li>Remove old code alters for oa_responsive_regions</li>
  <li>Move style plugins to oa_site_layout</li>
  <li>Move toolbar style css into oa_site_layout</li>
  <li>Fix merge conflicts</li>
  <li>Add new toolbar panel styles</li>
  <li>Add ctools dependency</li>
  <li>Improve handling of navbar displacement and put drupal admin menu under the admin button</li>
  <li>Remove background color for drupal admin button</li>
  <li>Fix user badge in toolbar to remove extra padding and support new bootstrap right-aligned dropdown menu class</li>
  <li>Add css for new toolbar panel styles</li>
  <li>Add ctools as dependency</li>
  <li>Add css for full-width toolbar style</li>
  <li>Fix color of drupal admin menu button</li>
  <li>Fix user badge color and make dropdown right-aligned with new bootstrap class</li>
  <li>Update js to handle new toolbar position and work better with navbar</li>
  <li>Add css for new toolbar style</li>
  <li>Add toolbar pane styles</li>
</ul>

<h4>OA Tour 2.5</h4>
<ul>
  <li>Fix undefined index error</li>
  <li>Fix error with empty links</li>
  <li>Don't display tours if they are empty</li>
  <li>Add options for widget alignment</li>
  <li>Revert "Remove old toolbar variable"</li>
  <li>Change #id to .class for toolbar buttons</li>
  <li>Remove old toolbar variable</li>
</ul>

<h4>OA Base Theme 2.0</h4>
<ul>
  <li>NEW, forked from oa_radix and improved greatly to use tools from latest Radix 3.1.</li>
</ul>

<h4>OA Theme 2.0</h4>
<ul>
  <li>NEW, uses new Base theme and new default design.</li>
</ul>

<h4>OA Radix 3.25</h4>
<ul>
  <li>Now DEPRECATED.  For backward compatibility only.</li>
  <li>Compile sass</li>
  <li>Fix image sizes in view lists</li>
  <li>Fix footer when using new site layout</li>
  <li>Add fontawesome 3.2, but maintain old for backward compat</li>
  <li>Restore submitted-by to right-aligned for backward compatibility</li>
  <li>Consolidate templates for comment-topics</li>
  <li>Move old templates into oa_radix theme</li>
  <li>Add global option for supressing page title</li>
  <li>Fix error calling radix function</li>
  <li>Fix create content button icon</li>
  <li>Update css from sass</li>
  <li>Remove body top padding since Dispace from navbar is used now</li>
  <li>Add second toolbar to handle body offset instead of using javascript</li>
  <li>Handle hiding the duplicate toolbar for setting body offset</li>
  <li>Fix add content button icon</li>
  <li>Duplicate fixed toolbar to handle body offset without using Displace</li>
  <li>Update colorizer and css for footer</li>
  <li>Change #id to .class in toolbar and oa-navbar</li>
  <li>Fix old colorizer.css navbar reverse colors</li>
  <li>Handle toolbar colors when not within #oa-navbar</li>
  <li>Remove unneeded padding from user badge</li>
</ul>

<h4>Other Contrib Module Updates</h4>
<ul>
  <li><a href="https://www.drupal.org/node/2680671">Bootstrap Tour 2.5</a></li>
  <li><a href="https://www.drupal.org/node/2680673">Colorizer 1.9</a></li>
  <li><a href="https://www.drupal.org/node/2680675">Command Buttons 1.13</a></li>
  <li><a href="https://www.drupal.org/node/2342357">Contextual Tabs 1.0-beta6</a></li>
  <li><a href="https://www.drupal.org/node/2680683">OA Responsive Regions 1.0</a></li>
</ul>
