
<h1>Open Atrium <strong>2.6</strong>.18</h1>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<p><strong>IMPORTANT</strong> : <strong>Make a BACKUP of your database</strong> before applying any updates.</p>
<p><strong>NOTE:</strong> : When running updates, it is normal to see "oa_core_update_7236" run many times depending on the amount of content on your site.  Do not abort the update process, allow it to complete.</p>
<h2>New Features</h2>
<ul>
<li>None</li>
</ul>
<h2>Major module/security updates</h2>
<ul>
  <li>Drupal Core <a href="https://www.drupal.org/project/drupal/releases/7.56">7.56</a></li>
  <li>Panopoly <a href="https://www.drupal.org/project/panopoly/releases/7.x-1.47">1.47</a></li>
  <li>Views - Moderately Critical - Access Bypass - <a href="https://www.drupal.org/node/2902604">DRUPAL-SA-CONTRIB-2017-068</a></li>
  <li>Entity Reference - Moderately Critical - Access Bypass - <a href="https://www.drupal.org/node/2902596">DRUPAL-SA-CONTRIB-2017-067</a></li>
</ul>
<hr>
<h3>Features normally overridden</h3>
<p>This version of Atrium is clean.  On a fresh install, no features should be marked as overridden.</p>
<p>If OA Worktracker is marked as overridden, you can safely revert it but it will stuck as overridden unless you have the oa_worktracker_duedate submodule enabled.</p>
<hr>
<h2>Changes since last release (2.617)</h2>
<ul>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.614">2.614 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.615">2.615 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.616">2.616 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.617">2.617 release notes</a>.</li>
</ul>

<h4>OA Core 2.87, OA Files 2.21, OA Related 2.13</h4>
<ul>
  <li><a href="/node/2890226">#2890226</a> by Jorrit, mpotter: oa_files should depend on oa_related</li>
</ul>
