

<h1>Open Atrium <strong>2.6</strong>.12</h1>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<p><strong>IMPORTANT</strong> : <strong>Make a BACKUP of your database</strong> before applying any updates.</p>
<p><strong>NOTE:</strong> : When running updates, it is normal to see "oa_core_update_7236" run many times depending on the amount of content on your site.  Do not abort the update process, allow it to complete.</p>
<h2>New Features</h2>
<ul>
<li>None</li>
</ul>
<h2>Major module/security updates</h2>
<ul>
  <li>Drupal Core 7.52 - Moderately Critical - Multiple Vulnerabilities - <a href="https://www.drupal.org/SA-CORE-2016-005">SA-CORE-2016-005</a></li>
  <li>Panopoly <a href="https://www.drupal.org/project/panopoly/releases/7.x-1.41">1.41</a></li>
</ul>
<hr>
<h3>Features normally overridden</h3>
<p>This version of Atrium is clean.  On a fresh install, no features should be marked as overridden.</p>
<p>If OA Worktracker is marked as overridden, you can safely revert it but it will stuck as overridden unless you have the oa_worktracker_duedate submodule enabled.</p>
<p><strong>NOTE: </strong>If you use custom modules with exported Panel Pages or Panelizer layouts, these modules will be marked as "overridden" until you re-export them.
This is due to the recent changes in Panels and Panelizer that require a storage_id and storage_type.  A code hook is provided by Panopoly to ensure your pages still work,
but the "override" is there to remind you to update your feature.</p>
<hr>
<h2>Changes since last release (2.69)</h2>
<ul>
<li>Previous <a href="https://www.drupal.org/node/2689495">2.60 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/node/2706599">2.61 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/node/2710737">2.62 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/node/2719525">2.63 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.64">2.64 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.65">2.65 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.66">2.66 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.67">2.67 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.68">2.68 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.69">2.69 release notes</a>.</li>
<li>Note: 2.610 skipped to prevent confusion with 2.61.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.611">2.611 release notes</a>.</li>
</ul>

<h4>OA Events 2.44</h4>
<ul>
  <li><a href="/node/2819926">#2819926</a> by <a href='/u/huizache'>huizache</a>: Maps not showing in geocoded event</li>
</ul>
<h4>OA Notifications 2.33</h4>
<ul>
  <li><a href="/node/2826762">#2826762</a> by <a href='/u/scottalan'>scottalan</a>: Allow modules to alter the content types that notifications are displayed on</li>
</ul>
