
<h1>Open Atrium <strong>2.6</strong>.16</h1>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<p><strong>IMPORTANT</strong> : <strong>Make a BACKUP of your database</strong> before applying any updates.</p>
<h2>New Features</h2>
<ul>
<li>None</li>
</ul>
<h2>Major module/security updates</h2>
<ul>
  <li>Panopoly <a href="https://www.drupal.org/project/panopoly/releases/7.x-1.45">1.45</a></li>
  <li>Media - Moderately Critical - Multiple vulnerabilities - <a href="https://www.drupal.org/node/2877316">SA-CONTRIB-2017-044</a></li>
</ul>
<hr>
<h3>Features normally overridden</h3>
<p>This version of Atrium is clean.  On a fresh install, most features should be marked as overridden.</p>
<p>If OA Worktracker is marked as overridden, you can safely revert it but it will stuck as overridden unless you have the oa_worktracker_duedate submodule enabled.  Features Template is also sometimes overridden and can be safely reverted and ignored.  Panopoly Search can also be ignored if overridden.</p>
<hr>
<h2>Changes since last release (2.615)</h2>
<ul>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.612">2.612 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.613">2.613 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.614">2.614 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.615">2.615 release notes</a>.</li>
</ul>

<h4>OA Clone 2.13</h4>
<ul>
  <li><a href="/node/2877075">#2877075</a> by JeffM2001: Wrong argument for oa_core_space_sections</li>
</ul>

<h4>OA Comment 2.16</h4>
<ul>
  <li><a href="/node/2869087">#2869087</a> by Jorrit: oa_comment_views_pre_build causes bad SQL</li>
</ul>

<h4>OA Files 2.19</h4>
<ul>
  <li><a href="/node/2871142">#2871142</a> by Jorrit: Translate oa_files_treeview.js</li>
</ul>

<h4>OA Responsive Regions 1.2</h4>
<ul>
  <li><a href="/node/2855039">#2855039</a> by Jorrit, El AlemaÃ±o: Notices due to missing settings</li>
</ul>
