
<h1>Open Atrium <strong>2.6</strong>.13</h1>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<p><strong>IMPORTANT</strong> : <strong>Make a BACKUP of your database</strong> before applying any updates.</p>
<p><strong>NOTE:</strong> : When running updates, it is normal to see "oa_core_update_7236" run many times depending on the amount of content on your site.  Do not abort the update process, allow it to complete.</p>
<h2>New Features</h2>
<ul>
<li>None</li>
</ul>
<h2>Major module/security updates</h2>
<ul>
  <li>Drupal Core 7.54</li>
  <li>Panopoly <a href="https://www.drupal.org/project/panopoly/releases/7.x-1.42">1.42</a></li>
</ul>
<hr>
<h3>Features normally overridden</h3>
<p>This version of Atrium is clean.  On a fresh install, no features should be marked as overridden.</p>
<p>If OA Worktracker is marked as overridden, you can safely revert it but it will stuck as overridden unless you have the oa_worktracker_duedate submodule enabled.</p>
<p><strong>NOTE: </strong>If you use custom modules with exported Panel Pages or Panelizer layouts, these modules will be marked as "overridden" until you re-export them.
This is due to the recent changes in Panels and Panelizer that require a storage_id and storage_type.  A code hook is provided by Panopoly to ensure your pages still work,
but the "override" is there to remind you to update your feature.</p>
<hr>
<h2>Changes since last release (2.612)</h2>
<ul>
<li>Previous <a href="https://www.drupal.org/node/2689495">2.60 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/node/2706599">2.61 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/node/2710737">2.62 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/node/2719525">2.63 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.64">2.64 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.65">2.65 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.66">2.66 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.67">2.67 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.68">2.68 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.69">2.69 release notes</a>.</li>
<li>Note: 2.610 skipped to prevent confusion with 2.61.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.611">2.611 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.612">2.612 release notes</a>.</li>
</ul>

<h4>OA Core 2.82</h4>
<ul>
  <li><a href="/node/2822313">#2822313</a> by JeffM2001: Content missing section if space name has a comma</li>
  <li><a href="/node/2850444">#2850444</a> by Jorrit, Argus: Update diff to 7.x-3.3 for PHP 7 compatibility</li>
  <li><a href="/node/2595229">#2595229</a> by paean99:  Undefined variable: name in include()</li>
  <li><a href="/node/2825013">#2825013</a> by Tessa Bakker: Install under php7 crashing (update to og_vocab required)</li>
  <li><a href="/node/2842518">#2842518</a> by JeffM2001: Command buttons shown for archived sections</li>
  <li><a href="/node/2474195">#2474195</a> by mpotter: Update to Flag 7.x-3.9</li>
</ul>

<h4>OA Events 2.45</h4>
<ul>
  <li><a href="/node/2195259">#2195259</a>: AddThisEvent: Third party service concern</li>
  <li><a href="/node/2841798">#2841798</a>: Geofield map will not work on new sites</li>
</ul>


<h4>OA Archive 2.6</h4>
<ul>
  <li><a href="/node/2842518">#2842518</a> by JeffM2001: Command buttons shown for archived sections</li>
</ul>


<h4>OA Clone 2.12</h4>
<ul>
  <li><a href="/node/2842518">#2842518</a> by JeffM2001: Command buttons shown for archived sections</li>
</ul>


<h4>OA Comment 2.12</h4>
<ul>
  <li><a href="/node/2846068">#2846068</a> by mpotter: "Fatal error: Can't use function return value in write context" after attaching file</li>
  <li><a href="/node/2830849">#2830849</a> by mpotter: Discussion topic list (view) shows duplicated topics</li>
</ul>

<h4>OA Media 2.34</h4>
<ul>
  <li><a href="/node/2853535">#2853535</a> by mpotter: Update Multiform to 7.x-1.3</li>
</ul>

<h4>OA Notifications 2.34</h4>
<ul>
  <li><a href="/node/2838185">#2838185</a> by mpotter, sparklingrobots: User receives notifications on private content they do not have access to</li>
</ul>


<h4>OA Toolbar 2.15</h4>
<ul>
  <li><a href="/node/2842518">#2842518</a> by JeffM2001: Command buttons shown for archived sections</li>
</ul>


<h4>Other Contrib Module Updates</h4>
<ul>
  <li><a href="https://www.drupal.org/project/diff/releases/7.x-3.3">Diff 3.3</a></li>
  <li><a href="https://www.drupal.org/project/flag/releases/7.x-3.9">Flag 3.9</a></li>
  <li><a href="https://www.drupal.org/project/multiform/releases/7.x-1.3">Multiform 1.3</a></li>
  <li><a href="https://www.drupal.org/project/paragraphs/releases/7.x-1.0-rc5">Paragraphs 1.0-rc5</a></li>
</ul>
