
<h1>Open Atrium <strong>2.6</strong>.15</h1>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<p><strong>IMPORTANT</strong> : <strong>Make a BACKUP of your database</strong> before applying any updates.</p>
<h2>New Features</h2>
<ul>
<li>None</li>
</ul>
<h2>Major module/security updates</h2>
<ul>
  <li>Open Atrium - Moderately critical - Information Disclosure - <a href="https://www.drupal.org/node/2869156">SA-CONTRIB-2014-041</a></li>
  <li><a href="https://www.drupal.org/project/media/releases/7.x-2.0">Media 2.0</a></li>
</ul>
<hr>
<h3>Features normally overridden</h3>
<p>This version of Atrium is clean.  On a fresh install, most features should be marked as overridden.</p>
<p>If OA Worktracker is marked as overridden, you can safely revert it but it will stuck as overridden unless you have the oa_worktracker_duedate submodule enabled.  Features Template is also sometimes overridden and can be safely reverted and ignored.  Panopoly Search can also be ignored if overridden.</p>
<hr>
<h2>Changes since last release (2.614)</h2>
<ul>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.611">2.611 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.612">2.612 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.613">2.613 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.614">2.614 release notes</a>.</li>
</ul>

<h4>OA Core 2.85</h4>
<ul>
  <li>Fix views permissions</li>
  <li><a href="/node/2868972">#2868972</a> by Jorrit: Using default parameters of oa_messages_create() causes error</li>
  <li><a href="/node/2868879">#2868879</a> by Jorrit: Wrong user link in oa_messages</li>
  <li><a href="/node/2867874">#2867874</a> by mpotter: EntityMetadataWrapperException: Invalid data value given when selecting "Any" space for a News view</li>
  <li><a href="/node/2866713">#2866713</a> by Jorrit: oa_core_get_groups_by_user_access contains dead code</li>
  <li><a href="/node/2867021">#2867021</a> by Jorrit: Configuration not read correctly in oa_core_user_spaces_render()</li>
  <li><a href="/node/2858349">#2858349</a> by Jorrit, mpotter: Update oa_core_preprocess_views_view_fields to set user picture field</li>
  <li><a href="/node/2857151">#2857151</a> by mpotter, Argus: Site goes blank when setting a View to "Limit to groups of current user"</li>
</ul>

<h4>OA Events 2.46</h4>
<ul>
  <li><a href="/node/2860610">#2860610</a> by Jorrit: Notice on display settings pages with datestamp fields</li>
</ul>

<h4>OA Comment 2.15</h4>
<ul>
  <li>Fix views permissions</li>
</ul>

<h4>OA Export 2.3</h4>
<ul>
  <li><a href="/node/2858828">#2858828</a> by mpotter, Jorrit: Bad download path and return to blueprints link</li>
  <li><a href="/node/2860636">#2860636</a> by mpotter: Downloading the 'Default' Blueprint taxonomy term causes an error</li>
</ul>

<h4>OA Search 2.10</h4>
<ul>
  <li><a href="/node/2852563">#2852563</a> by Jorrit: oa_search generates illegal html by nesting H3 tags</li>
</ul>

<h4>OA Toolbar 2.16</h4>
<ul>
  <li><a href="/node/2854597">#2854597</a> by Jorrit: Javascript error due to bad Bootstrap HTML</li>
</ul>

<h4>Ctools</h4>
<ul>
  <li>Reverted to patch #34 in issue <a href="/node/1901106">#1901106</a> to fix regression in Exposed Filter options for panels panes.</li>
</ul>
