
<h1>Open Atrium <strong>2.6</strong>.1</h1>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<p><strong>IMPORTANT</strong> : <strong>Make a BACKUP of your database</strong> before applying any updates.</p>
<p><strong>NOTE:</strong> : When running updates, it is normal to see "oa_core_update_7236" run many times depending on the amount of content on your site.  Do not abort the update process, allow it to complete.</p>
<h2>New Features</h2>
<ul>
<li>None</li>
</ul>
<h2>Major module/security updates</h2>
<ul>
  <li>Panopoly <a href="https://www.drupal.org/node/2706361">1.33</a></li>
    <ul>
      <li>Features - Less Critical - Denial of Service (DoS) - <a href="https://www.drupal.org/node/2705637">SA-CONTRIB-2016-020</a>
      </li>
    </ul>
  </li>
</ul>
<hr>
<h3>Features normally overridden</h3>
<p>This version of Atrium is clean.  On a fresh install, no features should be marked as overridden.</p>
<hr>
<h2>Changes since last release (2.60)</h2>
<ul>
<li>Previous <a href="https://www.drupal.org/node/2689495">2.60 release notes</a>.</li>
</ul>

<h4>OA Core 2.72</h4>
<ul>
  <li><a href="/node/2694493">#2694493</a> by Grayside: Easily toggle Space filter in views to default to Any/All</li>
  <li><a href="/node/2695019">#2695019</a> by mpotter: Errors when registering an account (sending mail approval)</li>
  <li><a href="/node/2691687">#2691687</a>: Base URL Directory Duplicated in Some Menu Entries</li>
  <li><a href="/node/2691533">#2691533</a> by mpotter: Show visibility is not working in the Modern Theme</li>
</ul>

<h4>OA Wiki 2.38</h4>
<ul>
  <li><a href="/node/2694501">#2694501</a> by mpotter: The BODY label showed strangely</li>
</ul>

<h4>OA Worktracker 2.7</h4>
<ul>
  <li>Add author and assigned notifications</li>
  <li>Remove left over hooks from old config function</li>
</ul>

<h4>OA Brand 2.3</h4>
<ul>
  <li>Center text on login form</li>
  <li><a href="/node/2692543">#2692543</a> by mpotter: Frontpage inner-pannel white background overwritten</li>
</ul>

<h4>OA Contextual Tabs 2.32</h4>
<ul>
  <li><a href="/node/2691687">#2691687</a>: Base URL Directory Duplicated in Some Menu Entries</li>
</ul>

<h4>OA Markdown 2.2</h4>
<ul>
  <li><a href="/node/2669580">#2669580</a> by vishalkhialani: Typo in oa_markdown.info</li>
</ul>

<h4>OA Notifications 2.29</h4>
<ul>
  <li><a href="/node/2702733">#2702733</a> by mpotter: Notifications field becomes disabled</li>
  <li><a href="/node/2702729">#2702729</a> by mpotter: Notifications lost when adding media to a new node</li>
  <li><a href="/node/2696961">#2696961</a> by joep.hendrix: Notifications still sent when creating a node in the draft state</li>
  <li><a href="/node/2695247">#2695247</a> by mpotter: Notifications not automatically added to posts when setup</li>
  <li>Update notifications_add helper function to check for existing record</li>
  <li>Add notification_add helper function</li>
</ul>
<h4>OA Site Layout 2.2</h4>
<ul>
  <li><a href="/node/2690525">#2690525</a>: Edit node content using the H5P module in Open Atrium, content not saved</li>
  <li><a href="/node/2692449">#2692449</a> by mpotter: Mobile toolbar not visibile on iOS devices</li>
</ul>

<h4>OA Toolbar 2.11</h4>
<ul>
  <li><a href="/node/2691687">#2691687</a>: Base URL Directory Duplicated in Some Menu Entries</li>
</ul>
<h4>OA Base Theme 2.2</h4>
<ul>
  <li>Fix current path detection</li>
</ul>

<h4>OA Theme 2.2</h4>
<ul>
  <li><a href="/node/2692543">#2692543</a> by mpotter: Frontpage inner-pannel white background overwritten</li>
</ul>
