
<h1>Open Atrium <strong>2.6</strong>.14</h1>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<p><strong>IMPORTANT</strong> : <strong>Make a BACKUP of your database</strong> before applying any updates.</p>
<p><strong>NOTE:</strong> : When running updates, it is normal to see "oa_core_update_7236" run many times depending on the amount of content on your site.  Do not abort the update process, allow it to complete.</p>
<h2>New Features</h2>
<ul>
<li>None</li>
</ul>
<h2>Major module/security updates</h2>
<ul>
  <li>Panopoly <a href="https://www.drupal.org/project/panopoly/releases/7.x-1.43">1.43</a></li>
  <li>Views - Moderately Critical - Access Bypass - <a href="https://www.drupal.org/node/2854980">SA-CONTRIB-2017-022</a></li>
</ul>
<hr>
<h3>Features normally overridden</h3>
<p>This version of Atrium is clean.  On a fresh install, no features should be marked as overridden.</p>
<p>If OA Worktracker is marked as overridden, you can safely revert it but it will stuck as overridden unless you have the oa_worktracker_duedate submodule enabled.</p>
<p><strong>NOTE: </strong>If you use custom modules with exported Panel Pages or Panelizer layouts, these modules will be marked as "overridden" until you re-export them.
This is due to the recent changes in Panels and Panelizer that require a storage_id and storage_type.  A code hook is provided by Panopoly to ensure your pages still work,
but the "override" is there to remind you to update your feature.</p>
<hr>
<h2>Changes since last release (2.613)</h2>
<ul>
<li>Previous <a href="https://www.drupal.org/node/2689495">2.60 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/node/2706599">2.61 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/node/2710737">2.62 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/node/2719525">2.63 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.64">2.64 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.65">2.65 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.66">2.66 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.67">2.67 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.68">2.68 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.69">2.69 release notes</a>.</li>
<li>Note: 2.610 skipped to prevent confusion with 2.61.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.611">2.611 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.612">2.612 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.613">2.613 release notes</a>.</li>
</ul>

<h4>OA Core 2.82</h4>
<p><strong>NOTE:</strong> These changes were supposed to be part of Atrium 2.613 but didn't make it into the release.
They are included now in 2.614.</p>
<ul>
  <li><a href="/node/2822313">#2822313</a> by JeffM2001: Content missing section if space name has a comma</li>
  <li><a href="/node/2850444">#2850444</a> by Jorrit, Argus: Update diff to 7.x-3.3 for PHP 7 compatibility</li>
  <li><a href="/node/2595229">#2595229</a> by paean99:  Undefined variable: name in include()</li>
  <li><a href="/node/2825013">#2825013</a> by Tessa Bakker: Install under php7 crashing (update to og_vocab required)</li>
  <li><a href="/node/2842518">#2842518</a> by JeffM2001: Command buttons shown for archived sections</li>
  <li><a href="/node/2474195">#2474195</a> by mpotter: Update to Flag 7.x-3.9</li>
</ul>

<h4>Other Contrib Module Updates</h4>
<ul>
  <li><a href="https://www.drupal.org/project/diff/releases/7.x-3.3">Diff 3.3</a></li>
  <li><a href="https://www.drupal.org/project/flag/releases/7.x-3.9">Flag 3.9</a></li>
  <li><a href="https://www.drupal.org/project/paragraphs/releases/7.x-1.0-rc5">Paragraphs 1.0-rc5</a></li>
</ul>
