
<h1>Open Atrium <strong>2.6</strong>.17</h1>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<p><strong>IMPORTANT</strong> : <strong>Make a BACKUP of your database</strong> before applying any updates.</p>
<p><strong>NOTE:</strong> : When running updates, it is normal to see "oa_core_update_7236" run many times depending on the amount of content on your site.  Do not abort the update process, allow it to complete.</p>
<h2>New Features</h2>
<ul>
<li>None</li>
</ul>
<h2>Major module/security updates</h2>
<ul>
  <li>Drupal Core 7.56</li>
  <li>Panopoly <a href="https://www.drupal.org/project/panopoly/releases/7.x-1.46">1.46</a></li>
</ul>
<hr>
<h3>Features normally overridden</h3>
<p>This version of Atrium is clean.  On a fresh install, no features should be marked as overridden.</p>
<p>If OA Worktracker is marked as overridden, you can safely revert it but it will stuck as overridden unless you have the oa_worktracker_duedate submodule enabled.</p>
<hr>
<h2>Changes since last release (2.616)</h2>
<ul>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.614">2.614 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.615">2.615 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.616">2.616 release notes</a>.</li>
</ul>

<h4>OA Core 2.86</h4>
<ul>
  <li>Set is_new when creating new node</li>
  <li>Remove extra views_query_alter</li>
  <li><a href="/node/2880017">#2880017</a>: User warning: The following module has moved within the file system: installprofiletest</li>
</ul>

<h4>OA Files 2.20</h4>
<ul>
  <li>Set is_new when creating new node</li>
  <li><a href="/node/2880629">#2880629</a> by Jorrit: Do not overwrite tree items in oa_files_add_uncategorized</li>
</ul>

<h4>OA Wizard 2.3</h4>
<ul>
  <li>Set is_new when creating new node</li>
</ul>


<h4>Other Contrib Module Updates (from Panopoly update)</h4>
<ul>
  <li><a href="https://www.drupal.org/project/entity/releases/7.x-1.8">Entity API 1.8</a></li>
  <li><a href="https://www.drupal.org/project/panels/releases/7.x-3.9">Panels 3.9</a></li>
  <li><a href="https://www.drupal.org/project/fieldable_panels_panes/releases/7.x-1.11">Fieldable Panel Panes (FPP) 1.11</a></li>
  <li><a href="https://www.drupal.org/project/wysiwyg/releases/7.x-2.4">WYSIWYG 2.4</a></li>
  <li><a href="https://www.drupal.org/project/link/releases/7.x-1.4">Link 1.4</a></li>
  <li><a href="https://www.drupal.org/project/search_api/releases/7.x-1.21">Search API 1.21</a></li>
</ul>
