
<h1>Open Atrium <strong>2.6</strong>.2</h1>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<p><strong>IMPORTANT</strong> : <strong>Make a BACKUP of your database</strong> before applying any updates.</p>
<p><strong>NOTE:</strong> : When running updates, it is normal to see "oa_core_update_7236" run many times depending on the amount of content on your site.  Do not abort the update process, allow it to complete.</p>
<h2>New Features</h2>
<ul>
<li>None</li>
</ul>
<h2>Major module/security updates</h2>
<ul>
  <li>Panopoly <a href="https://www.drupal.org/node/2710517">1.34</a></li>
    <ul>
      <li>Search API - Moderately Critical - Multiple Vulnerabilities - <a href="https://www.drupal.org/node/2710063">SA-CONTRIB-2016-022</a>
      </li>
    </ul>
  </li>
</ul>
<hr>
<h3>Features normally overridden</h3>
<p>This version of Atrium is clean.  On a fresh install, no features should be marked as overridden.</p>
<hr>
<h2>Changes since last release (2.61)</h2>
<ul>
<li>Previous <a href="https://www.drupal.org/node/2689495">2.60 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/node/2706599">2.61 release notes</a>.</li>
</ul>

<h4>OA Core 2.73</h4>
<ul>
  <li>Update og_session_context</li>
  <li>Fix strict warnings for group and section form fields</li>
</ul>

<h4>OA Search 2.38</h4>
<ul>
  <li>Queue re-indexing content</li>
</ul>

<h4>Other Contrib Module Updates</h4>
<ul>
  <li><a href="https://www.drupal.org/node/2708729">Features 2.10</a></li>
</ul>
