
<h2>Open Atrium <strong>2.6</strong>.27</h2>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<p><strong>IMPORTANT</strong> : <strong>Make a BACKUP of your database</strong> before applying any updates.</p>
<p><strong>NOTE:</strong> : When running updates, it is normal to see "oa_core_update_7236" run many times depending on the amount of content on your site.  Do not abort the update process, allow it to complete.</p>
<h2>New Features</h2>
<ul>
<li>None</li>
</ul>
<h2>Major module/security updates</h2>
<ul>
  <li>Drupal Core (7.58) - Highly critical - Remote Code Execution - <a href="https://www.drupal.org/SA-CORE-2018-002">SA-CORE-2018-002</a></li>
</ul>
<hr>
<h3>Features normally overridden</h3>
<p>This version of Atrium is clean.  On a fresh install, no features should be marked as overridden.</p>
<p>If OA Worktracker is marked as overridden, you can safely revert it but it will stuck as overridden unless you have the oa_worktracker_duedate submodule enabled.</p>
<hr>
<h2>Changes since last release (2.625)</h2>
<ul>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.624">2.624 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.625">2.625 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.626">2.626 release notes</a>.</li>
</ul>

<h4>No other changes.</h4>
