
<h2>Open Atrium <strong>2.6</strong>.23</h2>
<p>NOTE: v2.620 was skipped as not to be confused with v2.62. Other versions skipped due to distribution build issues.</p>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<p><strong>IMPORTANT</strong> : <strong>Make a BACKUP of your database</strong> before applying any updates.</p>
<p><strong>NOTE:</strong> : When running updates, it is normal to see "oa_core_update_7236" run many times depending on the amount of content on your site.  Do not abort the update process, allow it to complete.</p>
<h2>New Features</h2>
<ul>
<li>None</li>
</ul>
<h2>Major module/security updates</h2>
<ul>
  <li>Panopoly <a href="https://www.drupal.org/project/panopoly/releases/7.x-1.48">1.48</a></li>
  <li>Panopoly <a href="https://www.drupal.org/project/panopoly/releases/7.x-1.49">1.49</a></li>
  <li>Panopoly Core - Moderately critical - Cross Site Scripting - <a href="https://www.drupal.org/sa-contrib-2017-093">SA-CONTRIB-2017-093</a></li>
  <li>Mailhandler - Critical - Remote Code Execution - <a href="https://www.drupal.org/sa-contrib-2017-089">SA-CONTRIB-2017-089</a></li>
</ul>
<hr>
<h3>Features normally overridden</h3>
<p>This version of Atrium is clean.  On a fresh install, no features should be marked as overridden.</p>
<p>If OA Worktracker is marked as overridden, you can safely revert it but it will stuck as overridden unless you have the oa_worktracker_duedate submodule enabled.</p>
<hr>
<h2>Changes since last release (2.618)</h2>
<ul>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.616">2.616 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.617">2.617 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.618">2.618 release notes</a>.</li>
</ul>

<h4>OA Core 2.88</h4>
<ul>
  <li><a href="/node/2916036">#2916036</a> by Jorrit: Status of bootstrap_library dependency</li>
  <li><a href="/node/2918907">#2918907</a> by Jorrit: Section field loses choices after AJAX action</li>
  <li><a href="/node/2921209">#2921209</a> by klaasvw: Drush make build broken because of missing SimplePie library</li>
</ul>

<h4>OA Comment 2.17</h4>
<ul>
  <li><a href="/node/2916708">#2916708</a> by Jorrit: Update fasttoggle to 1.7</li>
</ul>

<h4>OA Devel 2.4</h4>
<ul>
  <li>Add panopoly_core dependency to allow devel version update</li>
</ul>

<h4>OA Event Import 2.28</h4>
<ul>
  <li>Remove iCalCreator from make because date_ical does this now</li>
</ul>

<h4>OA Mailhandler 2.28</h4>
<ul>
  <li>Update mailhandler</li>
</ul>

<h4>OA Toolbar 2.17</h4>
<ul>
  <li><a href="/node/2919684">#2919684</a> by Jorrit: Prevent infinite loop in oa_toolbar for circularly referenced groups</li>
</ul>

<h4>OA BaseTheme 2.5</h4>
<ul>
  <li><a href="/node/2916799">#2916799</a>: notices in oa_basetheme_preprocess_panelizer_view_mode</li>
</ul>

<h4>OA Radix 3.26</h4>
<ul>
  <li><a href="/node/2916036">#2916036</a> by Jorrit: Status of bootstrap_library dependency</li>
</ul>
