
<h2>Open Atrium <strong>2.6</strong>.24</h2>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<p><strong>IMPORTANT</strong> : <strong>Make a BACKUP of your database</strong> before applying any updates.</p>
<p><strong>NOTE:</strong> : When running updates, it is normal to see "oa_core_update_7236" run many times depending on the amount of content on your site.  Do not abort the update process, allow it to complete.</p>
<h2>New Features</h2>
<ul>
<li>None</li>
</ul>
<h2>Major module/security updates</h2>
<ul>
  <li>Critical bug fix from file_entity (<a href="https://www.drupal.org/project/openatrium/issues/2932229">issue 2932229</a>) </li>
</ul>
<hr>
<h3>Features normally overridden</h3>
<p>This version of Atrium is clean.  On a fresh install, no features should be marked as overridden.</p>
<p>If OA Worktracker is marked as overridden, you can safely revert it but it will stuck as overridden unless you have the oa_worktracker_duedate submodule enabled.</p>
<hr>
<h2>Changes since last release (2.623)</h2>
<ul>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.619">2.619 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.622">2.622 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.223">2.623 (mis-labelled as 2.223) release notes</a>.</li>
</ul>

<h4>OA Core 2.89</h4>
<ul>
  <li><a href="/node/2827046">#2827046</a> by Jorrit: Error in Javascript for oa_core's space_type/section_type functionality</li>
</ul>

<h4>OA Notifications 2.35</h4>
<ul>
  <li><a href="/node/2934016">#2934016</a> by pjohn: OA Notifications incompatible with PHP 7</li>
</ul>

<h4>OA Related 2.14</h4>
<ul>
  <li><a href="/node/2921614">#2921614</a> by JeffM2001: oa_related needs feature update</li>
</ul>

<h4>Command Buttons 1.14</h4>
<ul>
  <li><a href="/node/2852161">#2852161</a> by JKingsnorth: Undefined index btn_title</li>
  <li>Fix update hook number and comment out 7002</li>
  <li><a href="/node/2447497">#2447497</a> by scottalan: Typo on variable in install file</li>
  <li><a href="/node/2713249">#2713249</a> by JeffM2001: Duplicate buttons with entitycache enabled</li>
  <li><a href="/node/2921616">#2921616</a> by JeffM2001: Exported field instance needs update</li>
</ul>
