
<h2>Open Atrium <strong>2.6</strong>.38</h2>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<p><strong>IMPORTANT</strong> : <strong>Make a BACKUP of your database</strong> before applying any updates.</p>
<h2>New Features</h2>
<ul>
<li>None</li>
</ul>
<h2>Major module/security updates</h2>
<ul>
  <li>Views - Moderately critical - Information Disclosure - <a href="https://www.drupal.org/sa-contrib-2019-034">SA-CONTRIB-2019-034</a></li>
  <li>Views - Moderately critical - Information disclosure - <a href="https://www.drupal.org/sa-contrib-2019-035">SA-CONTRIB-2019-035</a></li>
  <li>Views - Less critical - Cross site scripting - <a href="https://www.drupal.org/sa-contrib-2019-036">SA-CONTRIB-2019-036</a></li>
  <li><a href="https://www.drupal.org/project/panopoly/releases/7.x-1.63">Panopoly (1.63)</a></li>
</ul>
<hr>
<h3>Features normally overridden</h3>
<p>This version of Atrium is clean.  On a fresh install, no features should be marked as overridden.</p>
<p>If OA Worktracker is marked as overridden, you can safely revert it but it will stuck as overridden unless you have the oa_worktracker_duedate submodule enabled.</p>
<hr>
<h2>Changes since last release (2.637)</h2>
<ul>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.635">2.635 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.636">2.636 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.637">2.637 release notes</a>.</li>
</ul>

<h4>No other changes</h4>
