
<h2>Open Atrium <strong>2.6</strong>.34</h2>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<p><strong>IMPORTANT</strong> : <strong>Make a BACKUP of your database</strong> before applying any updates.</p>
<h2>New Features</h2>
<ul>
<li>None</li>
</ul>
<h2>Major module/security updates</h2>
<ul>
  <li>Drupal Core (7.63) - Critical - Third Party Libraries - <a href="https://www.drupal.org/SA-CORE-2019-001">SA-CORE-2019-001</a>, Critical - Arbitrary PHP code execution - <a href="https://www.drupal.org/SA-CORE-2019-002">SA-CORE-2019-002</a></li>
  <li><a href="https://www.drupal.org/project/panopoly/releases/7.x-1.58">Panopoly (1.58)</a></li>
</ul>
<hr>
<h3>Features normally overridden</h3>
<p>This version of Atrium is clean.  On a fresh install, no features should be marked as overridden.</p>
<p>If OA Worktracker is marked as overridden, you can safely revert it but it will stuck as overridden unless you have the oa_worktracker_duedate submodule enabled.</p>
<hr>
<h2>Changes since last release (2.633)</h2>
<ul>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.631">2.631 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.632">2.632 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.633">2.633 release notes</a>.</li>
</ul>

<h4>CTools, Views, Panels, Ajax</h4>
<p>From the Panopoly 1.58 release there were some changes to patches in ctools. Atrium uses a complex set of ctools patches to add the functionality allowing Exposed Filters in Views to be exposed to Panels Pane configuration and to fix Ajax problems. If you have trouble with this functionality, see this issue: <a href="https://www.drupal.org/project/openatrium/issues/3000618">Patches to CTools reverse one another</a> for potential help.</p>
