
<h2>Open Atrium <strong>2.6</strong>.32</h2>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<p><strong>IMPORTANT</strong> : <strong>Make a BACKUP of your database</strong> before applying any updates.</p>
<h2>New Features</h2>
<ul>
<li>None</li>
</ul>
<h2>Major module/security updates</h2>
<ul>
  <li>Search API Solr Search (1.14) - Moderately critical - Access bypass - <a href="https://www.drupal.org/sa-contrib-2018-065">SA-CONTRIB-2018-065</a></li>
  <li><a href="https://www.drupal.org/project/panopoly/releases/7.x-1.56">Panopoly (1.56)</a></li>
</ul>
<hr>
<h3>Features normally overridden</h3>
<p>This version of Atrium is clean.  On a fresh install, no features should be marked as overridden.</p>
<p>If OA Worktracker is marked as overridden, you can safely revert it but it will stuck as overridden unless you have the oa_worktracker_duedate submodule enabled.</p>
<hr>
<h2>Changes since last release (2.631)</h2>
<ul>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.628">2.628 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.629">2.629 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.631">2.631 release notes</a>.</li>
</ul>

<h4>OA Core 2.90</h4>
<ul>
  <li><a href="/node/2992760">#2992760</a> by Jorrit: Fix shortcut in oa_core_get_group_from_node() and use entitycache</li>
  <li><a href="/node/2949059">#2949059</a> by Jorrit: Update Ultimate Cron for PHP 7 compatibility</li>
  <li><a href="/node/2991934">#2991934</a> by Jorrit: Improve performance of oa_widgets_content_visibility when disabled</li>
  <li><a href="/node/2991958">#2991958</a> by Jorrit: Add oa_diff.css using info file instead of init hook</li>
  <li><a href="/node/3002203">#3002203</a> by Jorrit: oa_core_get_parents_with_titles allows cache polution</li>
  <li><a href="/node/2956624">#2956624</a> by Jorrit: oa_sections.info refers to removed file oa_sections.css</li>
  <li><a href="/node/2991948">#2991948</a> by Jorrit: Update mailsystem to 2.35 for performance</li>
</ul>


<h4>OA Base Theme 2.6</h4>
<ul>
  <li><a href="/node/3004620">#3004620</a> by Jorrit: Improve performance of oa_basetheme by calculating window height once</li>
  <li><a href="/node/2973917">#2973917</a> by leevh: OA Basetheme long text format toggle JS not working with paragraphs</li>
  <li><a href="/node/2977855">#2977855</a> by Jorrit: PHP 7.2: fix warnings in oa_basetheme_table</li>
</ul>


<h4>OA Toolbar 2.18</h4>
<ul>
  <li><a href="/node/2981646">#2981646</a> by leevh: oa_toolbar conflicts with advagg async font loader</li>
</ul>


<h4>Command Buttons 1.15</h4>
<ul>
  <li><a href="/node/2977835">#2977835</a> by Jorrit: PHP 7.2: method compatibility errors in ButtonController</li>
</ul>
