
<h2>Open Atrium <strong>2.6</strong>.33</h2>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<p><strong>IMPORTANT</strong> : <strong>Make a BACKUP of your database</strong> before applying any updates.</p>
<h2>New Features</h2>
<ul>
<li>None</li>
</ul>
<h2>Major module/security updates</h2>
<ul>
  <li>Drupal Core (7.60) - Multiple Vulnerabilities - <a href="https://www.drupal.org/SA-CORE-2018-006">SA-CORE-2018-006</a></li>
  <li>Mime Mail (1.1) - Critical - Remote Code Execution - <a href="https://www.drupal.org/sa-contrib-2018-068">SA-CONTRIB-2018-068</a></li>
  <li>HTML Mail (2.71) - Critical - Remote Code Execution - <a href="https://www.drupal.org/sa-contrib-2018-069">SA-CONTRIB-2018-069</a></li>
  <li><a href="https://www.drupal.org/project/panopoly/releases/7.x-1.57">Panopoly (1.57)</a></li>
</ul>
<hr>
<h3>Features normally overridden</h3>
<p>This version of Atrium is clean.  On a fresh install, no features should be marked as overridden.</p>
<p>If OA Worktracker is marked as overridden, you can safely revert it but it will stuck as overridden unless you have the oa_worktracker_duedate submodule enabled.</p>
<hr>
<h2>Changes since last release (2.632)</h2>
<ul>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.629">2.629 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.631">2.631 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.632">2.632 release notes</a>.</li>
</ul>

<h4>OA Core 2.91</h4>
<ul>
  <li>Update mimemail and htmlmail modules</li>
</ul>
