
<h1>Open Atrium <strong>2.6</strong>.3</h1>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<p><strong>IMPORTANT</strong> : <strong>Make a BACKUP of your database</strong> before applying any updates.</p>
<p><strong>NOTE:</strong> : When running updates, it is normal to see "oa_core_update_7236" run many times depending on the amount of content on your site.  Do not abort the update process, allow it to complete.</p>
<h2>New Features</h2>
<ul>
<li>None</li>
</ul>
<h2>Major module/security updates</h2>
<ul>
  <li>Panopoly <a href="https://www.drupal.org/node/2719143">1.35</a></li>
    <ul>
      <li>Fieldable Panels Panes - Moderately Critical - XSS - <a href="https://www.drupal.org/node/2718931">SA-CONTRIB-2016-025</a>
      </li>
    </ul>
  </li>
<li>Organic groups - Moderately Critical - Access bypass - <a href="https://www.drupal.org/node/2710115">SA-CONTRIB-2016-023</a></li>
<li>Open Atrium Notifications - Less Critical - Information Disclosure - <a href="https://www.drupal.org/node/2718957">SA-CONTRIB-2016-026</a></li>
</ul>
<hr>
<h3>Features normally overridden</h3>
<p>This version of Atrium is clean.  On a fresh install, no features should be marked as overridden.</p>
<hr>
<h2>Changes since last release (2.62)</h2>
<ul>
<li>Previous <a href="https://www.drupal.org/node/2689495">2.60 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/node/2706599">2.61 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/node/2710737">2.62 release notes</a>.</li>
</ul>

<h4>OA Core 2.75</h4>
<ul>
  <li>Prevent infinite loop in og_context patch (fix for php 5.3)</li>
  <li>Prevent infinite loop in og_context patch</li>
</ul>

<h4>OA Notifications 2.30</h4>
<ul>
  <li>Fix caching and gid context for getting notification user list</li>
</ul>
