
<h2>Open Atrium <strong>2.6</strong>.45</h2>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<p><strong>IMPORTANT</strong> : <strong>Make a BACKUP of your database</strong> before applying any updates.</p>
<h2>Major module/security updates</h2>
<ul>
  <li>Drupal core 7.69 - Critical - Multiple vulnerabilities - <a href="https://www.drupal.org/sa-core-2019-012">SA-CORE-2019-012</a></li>
  <li><a href="https://www.drupal.org/project/panopoly/releases/7.x-1.72">Panopoly (1.72)</a></li>
</ul>
<h2>New Features</h2>
<ul>
<li>None</li>
</ul>
<h2>Removed</h2>
<ul>
<li>The <a href="https://www.drupal.org/project/oa_radix">OA Radix Theme</a> was
removed from the pre-built Open Atrium distribution. If you still require this
theme you can install it manually as with any other module/theme from drupal.org.</li>
</ul>
<hr>
<h3>Features normally overridden</h3>
<p>This version of Atrium is clean.  On a fresh install, no features should be marked as overridden.</p>
<p>If OA Worktracker is marked as overridden, you can safely revert it but it will stuck as overridden unless you have the oa_worktracker_duedate submodule enabled.</p>
<hr>
<h2>Changes since last release (2.644)</h2>
<ul>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.642">2.642 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.643">2.643 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.644">2.644 release notes</a>.</li>
</ul>

<h4>OA Core 2.92</h4>
<ul>
  <li><a href="/node/3006981">#3006981</a> by Jorrit: Prevent cache polution in oa_core_get_groups_by_user_access()</li>
  <li><a href="/node/3006984">#3006984</a> by Jorrit: Allow hiding unpublished nodes in User Spaces panel</li>
  <li><a href="/node/3015426">#3015426</a> by Jorrit: Fix language support in group-or-section-alias token</li>
  <li><a href="/node/3019683">#3019683</a> by Jorrit: Prevent cache polution during user creation in oa_messages</li>
  <li><a href="/node/3025303">#3025303</a> by Jorrit: Handle anonymous user in oa_users_build_user_details</li>
  <li><a href="/node/3028007">#3028007</a> by Chris Gillis: oa_core is not compatible with PHP 7.2</li>
  <li><a href="/node/3060052">#3060052</a> by mpotter: oa_core.profile does not handle project:module dependencies</li>
</ul>

<h4>OA Core 2.48</h4>
<ul>
  <li><a href="/node/3018149">#3018149</a> by Jorrit: Prevent notice in oa_events_geocoder_geocode_values_alter</li>
</ul>

<h4>OA Domains 2.4</h4>
<ul>
  <li><a href="/node/3005320">#3005320</a> by Jorrit: Optimizations in oa_domains</li>
</ul>

<h4>OA Related 2.15</h4>
<ul>
  <li>Restore lost commit from v2.14</li>
  <li><a href="/node/3075225">#3075225</a> by rcastor, JeffM2001: Cannot use string offset as an array</li>
</ul>

<h4>OA Site Layout 2.4</h4>
<ul>
  <li><a href="/node/3050836">#3050836</a> by Chris Gillis: oa_site_layout is not compatible with PHP 7.2</li>
</ul>

<h4>OA Toolbar 2.19</h4>
<ul>
  <li><a href="/node/3011662">#3011662</a> by Jorrit: Prevent notice in oa_space_menu when section is not accessible</li>
</ul>

<h4>OA Base Theme 2.7</h4>
<ul>
  <li><a href="/node/3041712">#3041712</a> by left, mpotter: Bootstrap version update to 3.4.1</li>
</ul>

<h4>OA Modern Theme 2.5</h4>
<ul>
  <li>Update to bootstrap 3.4.1</li>
</ul>

<h4>OA Radix 3.27 (REMOVED)</h4>
<ul>
  <li>Update radix and bootstrap 3.4.1</li>
</ul>
