
<h2>Open Atrium <strong>2.6</strong>.48</h2>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<p><strong>IMPORTANT</strong> : <strong>Make a BACKUP of your database</strong> before applying any updates.</p>
<h2>Major module/security updates</h2>
<ul>
  <li>Drupal core 7.75 - Critical - Third-party library - <a href="https://www.drupal.org/sa-core-2020-013">SA-CORE-2020-013</a></li>
  <li>Drupal core 7.74 - Critical - Remote code execution - <a href="https://www.drupal.org/sa-core-2020-012">SA-CORE-2020-012</a></li>
  <li>Drupal core 7.73 - Moderately critical - Cross-site scripting - <a href="https://www.drupal.org/sa-core-2020-007">SA-CORE-2020-007</a></li>
  <li><a href="https://www.drupal.org/project/panopoly/releases/7.x-1.76">Panopoly (1.76)</a></li>
  <li><a href="https://www.drupal.org/project/panopoly/releases/7.x-1.77">Panopoly (1.77)</a></li>
  <li><a href="https://www.drupal.org/project/panopoly/releases/7.x-1.78">Panopoly (1.78)</a></li>
</ul>
<h2>New Features</h2>
<ul>
<li>None</li>
</ul>
<hr>
<h3>Features normally overridden</h3>
<p>This version of Atrium is clean.  On a fresh install, no features should be marked as overridden.</p>
<p>If OA Worktracker is marked as overridden, you can safely revert it but it will stuck as overridden unless you have the oa_worktracker_duedate submodule enabled.</p>
<hr>
<h2>Changes since last release (2.647)</h2>
<ul>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.645">2.645 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.646">2.646 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.647">2.647 release notes</a>.</li>
</ul>

<h4>OA Base Theme 2.9</h4>
<ul>
  <li><a href="/node/3184289">#3184289</a> by JeffM2001: Uncaught RangeError with Bootstrap 3.4.1</li>
</ul>


