
<h2>Open Atrium <strong>2.6</strong>.46</h2>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<p><strong>IMPORTANT</strong> : <strong>Make a BACKUP of your database</strong> before applying any updates.</p>
<h2>Major module/security updates</h2>
<ul>
  <li>Drupal core 7.70 - Moderately critical - Cross Site Scripting - <a href="https://www.drupal.org/sa-core-2020-002">SA-CORE-2020-002</a></li>
  <li>Drupal core 7.70 - Moderately critical - Open Redirect - <a href="https://www.drupal.org/sa-core-2020-003">SA-CORE-2020-003</a></li>
  <li>Drupal core 7.70 - <a href="https://www.drupal.org/node/3143016">Patched for jQuery issue with Chrome 83</a></li>
  <li><a href="https://www.drupal.org/project/panopoly/releases/7.x-1.74">Panopoly (1.74)</a></li>
</ul>
<h2>New Features</h2>
<ul>
<li>None</li>
</ul>
<hr>
<h3>Features normally overridden</h3>
<p>This version of Atrium is clean.  On a fresh install, no features should be marked as overridden.</p>
<p>If OA Worktracker is marked as overridden, you can safely revert it but it will stuck as overridden unless you have the oa_worktracker_duedate submodule enabled.</p>
<hr>
<h2>Changes since last release (2.645)</h2>
<ul>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.643">2.643 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.644">2.644 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.645">2.645 release notes</a>.</li>
</ul>

<h4>OA Base Theme 2.8</h4>
<ul>
  <li>Restored the Bootstrap 3.4.1 JS into libraries (previously removed by
  deprecating oa_radix)</li>
</ul>
