
<h2>Open Atrium <strong>2.6</strong>.44</h2>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<p><strong>IMPORTANT</strong> : <strong>Make a BACKUP of your database</strong> before applying any updates.</p>
<h2>New Features</h2>
<ul>
<li>None</li>
</ul>
<h2>Major module/security updates</h2>
<ul>
  <li><a href="https://www.drupal.org/project/panopoly/releases/7.x-1.68">Panopoly (1.68)</a></li>
  <li>TableField - Moderately critical - Access bypass and Cross Site Scripting - <a href="https://www.drupal.org/sa-contrib-2019-051">SA-CONTRIB-2019-051</a></li>
  <li>Universally Unique IDentifier - Moderately critical - Access bypass - <a href="https://www.drupal.org/sa-contrib-2019-052">SA-CONTRIB-2019-052</a></li>
</ul>
<hr>
<h3>Features normally overridden</h3>
<p>This version of Atrium is clean.  On a fresh install, no features should be marked as overridden.</p>
<p>If OA Worktracker is marked as overridden, you can safely revert it but it will stuck as overridden unless you have the oa_worktracker_duedate submodule enabled.</p>
<hr>
<h2>Changes since last release (2.643)</h2>
<ul>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.641">2.641 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.642">2.642 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.643">2.643 release notes</a>.</li>
</ul>

<h4>No other changes.</h4>
