
<h1>Open Atrium <strong>2.6</strong>.4</h1>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<p><strong>IMPORTANT</strong> : <strong>Make a BACKUP of your database</strong> before applying any updates.</p>
<p><strong>NOTE:</strong> : When running updates, it is normal to see "oa_core_update_7236" run many times depending on the amount of content on your site.  Do not abort the update process, allow it to complete.</p>
<h2>New Features</h2>
<ul>
<li>None</li>
</ul>
<h2>Major module/security updates</h2>
<ul>
  <li>Drupal Core 7.44 - Moderately Critical - Multiple Vulnerabilities - <a href="https://www.drupal.org/SA-CORE-2016-002">SA-CORE-2016-002</a></li>
  <li>Panopoly <a href="https://www.drupal.org/project/panopoly/releases/7.x-1.36">1.36</a></li>
  <li>Panopoly <a href="https://www.drupal.org/project/panopoly/releases/7.x-1.37">1.37</a></li>
    <ul>
      <li>Views - Less Critical - Access Bypass - <a href="https://www.drupal.org/node/2749333">SA-CONTRIB-2016-036</a>
      </li>
    </ul>
  </li>
</ul>
<hr>
<h3>Features normally overridden</h3>
<p>This version of Atrium is clean.  On a fresh install, no features should be marked as overridden.</p>
<p>If OA Worktracker is marked as overridden, you can safely revert it but it will stuck as overridden unless you have the oa_worktracker_duedate submodule enabled.</p>
<hr>
<h2>Changes since last release (2.63)</h2>
<ul>
<li>Previous <a href="https://www.drupal.org/node/2689495">2.60 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/node/2706599">2.61 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/node/2710737">2.62 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/node/2719525">2.63 release notes</a>.</li>
</ul>

<h4>OA Core 2.76</h4>
<ul>
  <li><a href="/node/2747861">#2747861</a> by woodzie: Incorrect group id returned when non-node entities member of space</li>
  <li><a href="/node/2739049">#2739049</a> by JeffM2001: Error creating sections when main menu is disabled</li>
  <li><a href="/node/2738743">#2738743</a>: Media Browser invisible close button</li>
  <li>Limit recent activity view on default sections for performance</li>
</ul>
<h4>OA Wiki 2.39</h4>
<ul>
  <li><a href="/node/2447787">#2447787</a> by mirie: Workbench Moderation + OA Wiki conflict for published Documents with attachments</li>
</ul>

<h4>OA Worktracker 2.8</h4>
<ul>
  <li><a href="/node/2749011">#2749011</a> by mpotter: Possible to trigger notifications after email comment submitted</li>
</ul>

<h4>OA Brand 2.4</h4>
<ul>
  <li><a href="/node/2692449">#2692449</a>: Mobile toolbar not visibile on iOS devices</li>
</ul>

<h4>OA Comment 2.10</h4>
<ul>
  <li><a href="/node/2692449">#2692449</a>: Mobile toolbar not visibile on iOS devices</li>
</ul>

<h4>OA Export 2.2</h4>
<ul>
  <li>Updating menus to include a link for the parent space (home).</li>
  <li>Adding a watchdog/message if the new file can't be loaded during import.</li>
  <li>Adding a helper to ensure the file path is correct before saving the file.</li>
  <li>Adding a file modify permission and a watchdog/drupal_set_message if file can't be saved.</li>
  <li>Adding comments</li>
  <li>Create dest directory for importing files</li>
  <li>Remove recursion from exports</li>
  <li><a href="/node/2719595">#2719595</a> by JeffM2001: Coding standards in oa_export generated modules</li>
  <li>Adding a hook to allow modules to customize the panelizer content on import. This is useful if a pane is referencing a single node via its node id. This allows a module to update the node id on import so the reference isn't broken.</li>
  <li>Working through updating the way menus are exported/imported.</li>
  <li>Adding some documentation for a hook that was added to deal with one off nodes (nid) in panelizer</li>
  <li>This fixes an issue where the imported og-menus were not imported with the same weight.</li>
  <li>Allow exporting deeper into a Space hierarchy by including Sub-groups.</li>
</ul>

<h4>OA Files 2.17</h4>
<ul>
  <li><a href="/node/2692449">#2692449</a>: Mobile toolbar not visibile on iOS devices</li>
</ul>

<h4>OA Home 2.4</h4>
<ul>
  <li><a href="/node/2692449">#2692449</a>: Mobile toolbar not visibile on iOS devices</li>
</ul>

<h4>OA Mailhandler 2.26</h4>
<ul>
  <li>Ensure node referenced in subject line is valid</li>
</ul>

<h4>OA Sandbox 2.2</h4>
<ul>
  <li><a href="/node/2692449">#2692449</a>: Mobile toolbar not visibile on iOS devices</li>
</ul>

<h4>OA Sitemap 2.11</h4>
<ul>
  <li><a href="/node/2692449">#2692449</a>: Mobile toolbar not visibile on iOS devices</li>
</ul>

<h4>OA Toolbar 2.12</h4>
<ul>
  <li><a href="/node/2692449">#2692449</a>: Mobile toolbar not visibile on iOS devices</li>
</ul>

<h4>OA Base Theme 2.3</h4>
<ul>
  <li><a href="/node/2738743">#2738743</a>: Media Browser invisible close button</li>
  <li><a href="/node/2692449">#2692449</a>: Mobile toolbar not visibile on iOS devices</li>
</ul>

<h4>OA Theme 2.3</h4>
<ul>
  <li><a href="/node/2738743">#2738743</a>: Media Browser invisible close button</li>
</ul>

<h4>OA Responsive Regions 1.1</h4>
<ul>
  <li><a href="/node/2692449">#2692449</a>: Mobile toolbar not visibile on iOS devices</li>
</ul>
