
<h1>Open Atrium <strong>2.6</strong>.5</h1>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<p><strong>IMPORTANT</strong> : <strong>Make a BACKUP of your database</strong> before applying any updates.</p>
<p><strong>NOTE:</strong> : When running updates, it is normal to see "oa_core_update_7236" run many times depending on the amount of content on your site.  Do not abort the update process, allow it to complete.</p>
<h2>New Features</h2>
<ul>
<li>None</li>
</ul>
<h2>Major module/security updates</h2>
<ul>
  <li>Coder - Highly Critical - Remote Code Execution - <a href="https://www.drupal.org/node/2765575">SA-CONTRIB-2016-039</a></li>
</ul>
<hr>
<h3>Features normally overridden</h3>
<p>This version of Atrium is clean.  On a fresh install, no features should be marked as overridden.</p>
<p>If OA Worktracker is marked as overridden, you can safely revert it but it will stuck as overridden unless you have the oa_worktracker_duedate submodule enabled.</p>
<hr>
<h2>Changes since last release (2.64)</h2>
<ul>
<li>Previous <a href="https://www.drupal.org/node/2689495">2.60 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/node/2706599">2.61 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/node/2710737">2.62 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/node/2719525">2.63 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.64">2.64 release notes</a>.</li>
</ul>

<h4>OA Core 2.77</h4>
<ul>
  <li><a href="/node/2706719">#2706719</a>: Meaning of warning message</li>
  <li><a href="/node/2751183">#2751183</a> by mpotter: oa_messages keeps messing with my view panes</li>
</ul>

<h4>OA Archive 2.4</h4>
<ul>
  <li>Remove published filter from archive listing</li>
</ul>

<h4>OA Devel 2.1</h4>
<ul>
  <li>Updated coder module</li>
</ul>

<h4>OA Domains 2.3</h4>
<ul>
  <li>Remove published filter from archive listing</li>
</ul>

<h4>OA Media 2.33</h4>
<ul>
  <li><a href="/node/2758885">#2758885</a> by bkildow: Paragraph images do not show up in media browser when filtered on space</li>
</ul>
