
<h1>Open Atrium <strong>2.6</strong>.7</h1>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<p><strong>IMPORTANT</strong> : <strong>Make a BACKUP of your database</strong> before applying any updates.</p>
<p><strong>NOTE:</strong> : When running updates, it is normal to see "oa_core_update_7236" run many times depending on the amount of content on your site.  Do not abort the update process, allow it to complete.</p>
<h2>New Features</h2>
<ul>
<li>None</li>
</ul>
<h2>Major module/security updates</h2>
<ul>
  <li>Panopoly <a href="https://www.drupal.org/project/panopoly/releases/7.x-1.39">1.39</a></li>
    <ul>
      <li>Panels - Critical - Multiple Vulnerabilities - <a href="https://www.drupal.org/node/2785631">SA-CONTRIB-2016-047</a>
      <li>Panelizer - Moderately Critical - Access Bypass - <a href="https://www.drupal.org/node/2785687">SA-CONTRIB-2016-048</a>
      </li>
    </ul>
  </li>
</ul>
<hr>
<h3>Features normally overridden</h3>
<p>This version of Atrium is clean.  On a fresh install, no features should be marked as overridden.</p>
<p>If OA Worktracker is marked as overridden, you can safely revert it but it will stuck as overridden unless you have the oa_worktracker_duedate submodule enabled.</p>
<p><strong>NOTE: </strong>If you use custom modules with exported Panel Pages or Panelizer layouts, these modules will be marked as "overridden" until you re-export them.
This is due to the recent changes in Panels and Panelizer that require a storage_id and storage_type.  A code hook is provided by Panopoly to ensure your pages still work,
but the "override" is there to remind you to update your feature.</p>
<hr>
<h2>Changes since last release (2.66)</h2>
<ul>
<li>Previous <a href="https://www.drupal.org/node/2689495">2.60 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/node/2706599">2.61 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/node/2710737">2.62 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/node/2719525">2.63 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.64">2.64 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.65">2.65 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.66">2.66 release notes</a>.</li>
</ul>
<h4>OA Core 2.79</h4>
<ul>
  <li>Switch to default ipe pipeline</li>
  <li>Remove custom ipe_node_access pipeline and replace with normal IPE</li>
  <li>Update panels and panelizer storage id in oa_team export</li>
  <li>Update panels and panelizer storage id in oa_news export</li>
  <li>Update panels and panelizer storage id in oa_layouts export</li>
  <li><a href="/node/2770937">#2770937</a> by JeffM2001: Improvements to space/section type access</li>
</ul>

<h4>OA Discussion 2.41</h4>
<ul>
  <li>Update panelizer export with storage_id</li>
</ul>

<h4>OA Events 2.41</h4>
<ul>
  <li>Switch to default ipe pipeline</li>
  <li>Update panels and panelizer storage id in feature export</li>
  <li>Update field group export format</li>
</ul>

<h4>OA Wiki 2.40</h4>
<ul>
  <li>Update panels and panelizer storage id in oa_wiki export</li>
  <li>Update field group export</li>
</ul>

<h4>OA Worktracker 2.9</h4>
<ul>
  <li>Update panels and panelizer storage id in task export</li>
  <li>Update field group export</li>
</ul>

<h4>OA Contextual Tabs 2.33</h4>
<ul>
  <li>Filter IPE buttons based on panelizer permissions</li>
</ul>

<h4>OA Files 2.18</h4>
<ul>
  <li>Switch to default ipe pipeline</li>
  <li>Update panels and panelizer storage id in feature export</li>
</ul>

<h4>OA Project 2.2</h4>
<ul>
  <li>Switch to default ipe pipeline</li>
  <li>Update storage id in panelizer export</li>
</ul>
<h4>OA Toolbar 2.13</h4>
<ul>
  <li><a href="/node/2770937">#2770937</a> by JeffM2001: Improvements to space/section type access</li>
</ul>
