
<h1>Open Atrium <strong>2.6</strong>.9</h1>
<h2>Instructions for upgrading</h2>
<p>Please see the <a href="https://www.drupal.org/node/2321627">Updating Open Atrium</a> guide!</p>
<p><strong>IMPORTANT</strong> : <strong>Make a BACKUP of your database</strong> before applying any updates.</p>
<p><strong>NOTE:</strong> : When running updates, it is normal to see "oa_core_update_7236" run many times depending on the amount of content on your site.  Do not abort the update process, allow it to complete.</p>
<h2>New Features</h2>
<ul>
<li>None</li>
</ul>
<h2>Major module/security updates</h2>
<ul>
  <li>None</li>
</ul>
<hr>
<h3>Features normally overridden</h3>
<p>This version of Atrium is clean.  On a fresh install, no features should be marked as overridden.</p>
<p>If OA Worktracker is marked as overridden, you can safely revert it but it will stuck as overridden unless you have the oa_worktracker_duedate submodule enabled.</p>
<p><strong>NOTE: </strong>If you use custom modules with exported Panel Pages or Panelizer layouts, these modules will be marked as "overridden" until you re-export them.
This is due to the recent changes in Panels and Panelizer that require a storage_id and storage_type.  A code hook is provided by Panopoly to ensure your pages still work,
but the "override" is there to remind you to update your feature.</p>
<hr>
<h2>Changes since last release (2.68)</h2>
<ul>
<li>Previous <a href="https://www.drupal.org/node/2689495">2.60 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/node/2706599">2.61 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/node/2710737">2.62 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/node/2719525">2.63 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.64">2.64 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.65">2.65 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.66">2.66 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.67">2.67 release notes</a>.</li>
<li>Previous <a href="https://www.drupal.org/project/openatrium/releases/7.x-2.68">2.68 release notes</a>.</li>
</ul>

<h4>OA Core 2.80</h4>
<ul>
  <li>Move References Dialog into oa_core make</li>
  <li>Update modules</li>
  <li><a href="/node/2658966">#2658966</a> by <a href='/u/mpotter'>mpotter</a>: View oa_sections_section_types TID is formatted in link</li>
  <li><a href="/node/2751021">#2751021</a> by <a href='/u/m1n0'>m1n0</a>: Publishing or unpublishing content should issue a notification</li>
  <li><a href="/node/2499847">#2499847</a> by <a href='/u/joep.hendrix'>joep.hendrix</a>: OA does not send Notifications when Spaces or Sections are updated</li>
  <li><a href="/node/2802983">#2802983</a> by <a href='/u/m1n0'>m1n0</a>: Function oa_messages_create should return created $message</li>
  <li>Fix test for php 5.5</li>
  <li><a href="/node/2797739">#2797739</a> by <a href='/u/mpotter'>mpotter</a>, <a href='/u/a----'>A----</a>: oa_buttons lists command buttons from unpublished sections</li>
  <li><a href="/node/2797277">#2797277</a> by <a href='/u/mpotter'>mpotter</a>: The Create New Team button is not shown for space admins</li>
  <li>Update all subgroup access regardless of inheritance</li>
  <li><a href="/node/2782963">#2782963</a> by <a href='/u/lionslair'>lionslair</a>: Bug in oa_core.util.inc</li>
</ul>

<h4>OA Events 2.42</h4>
<ul>
  <li>Update Date iCal 3.9</li>
</ul>

<h4>OA Worktracker 2.10</h4>
<ul>
  <li><a href="/node/2791033">#2791033</a> by <a href='/u/mpotter'>mpotter</a>: Can't filter tasks</li>
</ul>

<h4>OA Brand 2.5</h4>
<ul>
  <li>Fix button markup on home page</li>
</ul>

<h4>OA Clone 2.11</h4>
<ul>
  <li>Update node_clone to 1.0</li>
  <li><a href="/node/2718857">#2718857</a> by <a href='/u/jeffm2001'>JeffM2001</a>: Infinite loop cloning blueprint into itself</li>
  <li><a href="/node/2784989">#2784989</a> by <a href='/u/jeffm2001'>JeffM2001</a>: Parent field not cleared properly when cloning blueprint</li>
  <li><a href="/node/2797257">#2797257</a> by <a href='/u/mpotter'>mpotter</a>: Subspaces created by Space Admin via Site Map do not clone</li>
</ul>

<h4>OA Home 2.5</h4>
<ul>
  <li>Fix button markup on home page</li>
</ul>
<h4>OA Notifications 2.31</h4>
<ul>
  <li><a href="/node/2499847">#2499847</a> by <a href='/u/joep.hendrix'>joep.hendrix</a>: OA does not send Notifications when Spaces or Sections are updated</li>
</ul>

<h4>OA Related 2.11</h4>
<ul>
  <li>Move References dialog into oa_core.make</li>
  <li>Allow custom paragraphs to set element title</li>
  <li>Snippet title might not be defined</li>
</ul>

<h4>OA Search 2.9</h4>
<ul>
  <li><a href="/node/2616052">#2616052</a> by <a href='/u/kamlendra'>Kamlendra</a>: Open Atrium search always resets the user's current language of site</li>
</ul>

<h4>OA Sitemap 2.12</h4>
<ul>
  <li>Use proper constant for Published status</li>
  <li><a href="/node/2682203">#2682203</a> by <a href='/u/jeffm2001'>JeffM2001</a>: Sort Sections, Spaces in sitemap</li>
</ul>

<h4>OA Subspaces 2.37</h4>
<ul>
  <li>Update og_subgroups version</li>
</ul>

<h4>OA Base Theme 2.4</h4>
<ul>
  <li>Remove sourceMappingURL</li>
  <li><a href="/node/2818917">#2818917</a> by <a href='/u/socialnicheguru'>SocialNicheGuru</a>: throbber.gif is not found</li>
  <li>Update to Radix 3.5</li>
  <li>Remove unneeded padding for pane-entity-field</li>
  <li>Add allow-root to bower install</li>
</ul>

<h4>OA Theme 2.4</h4>
<ul>
  <li>Update .gitignore to remove map files</li>
  <li>Remove js and css map files</li>
  <li>Fix underlined headings</li>
  <li>Fix color of links in block title headers</li>
  <li>Make fonts easier to override</li>
  <li>Add ignore-root for bower install</li>
  <li><a href="/node/2786607">#2786607</a> by <a href='/u/evanlovely'>EvanLovely</a>: Improve Phase2 Brand Colors</li>
</ul>

<h4>Other Contrib Module Updates</h4>
<ul>
  <li><a href="https://www.drupal.org/project/chosen/releases/7.x-2.0">Chosen 2.0</a></li>
  <li><a href="https://www.drupal.org/project/date_facets/releases/7.x-1.0">Date Facets 1.0</a></li>
  <li><a href="https://www.drupal.org/project/date_ical/releases/7.x-3.9">Date iCal 3.9</a></li>
  <li><a href="https://www.drupal.org/project/node_clone/releases/7.x-1.0">Node Clone 1.0</a></li>
  <li><a href="https://www.drupal.org/project/realname/releases/7.x-1.3">Real Name 1.3</a></li>
  <li><a href="https://www.drupal.org/project/references_dialog/releases/7.x-1.0-beta2">References Dialog 1.0-beta2</a></li>
  <li><a href="https://www.drupal.org/project/ultimate_cron/releases/7.x-2.0">Ultimate Cron 2.0</a></li>
</ul>
